<template>
  <section class="mt-10" style="min-height: 100vh;">
    <page-title>
      <h1 class="text-center" style="font-size: 40px">
        {{ $t("sections") }}
      </h1>
    </page-title>
    <v-container>
      <v-row>
        <v-col cols="12">
          <section class="sections">
            <Carousel :items-to-show="1" ref="reviews" :dir="$i18n.locale == 'ar' ? 'rtl' : 'ltr'" :wrap-around="true"
              snapAlign="start" :breakpoints="breakpoints">
              <Slide v-for="(sectionItem, index ) in (sectionsLoading
                ? 6
                : sectionsItems as [])" :key="index" style="position: relative">
                <skeleton-loader :loading="sectionsLoading" type="image">
                  <category-card class="mx-4" :item="sectionItem" :is-selected="currentIndex == index"
                    @click="onSelectStore(index as any)" />
                </skeleton-loader>
              </Slide>
              <template #addons>
                <Pagination />
                <Navigation />
              </template>
            </Carousel>
          </section>
        </v-col>
      </v-row>
    </v-container>
    <transition name="fade-transition">
      <v-container v-if="storesLoading">
        <SectionsComponent :loadMore="loadMore" @onPaginate="handlePagination" :pagination="paginationMeta"
          :sections="storeItems" :sectionName="sectionName" />
      </v-container>
    </transition>
  </section>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { onMounted } from "vue";
import { defineComponent, defineAsyncComponent, ref } from "vue";
import { Carousel, Slide, Pagination, Navigation } from "vue3-carousel";
import { Section } from "./model";
import { computed } from "vue";
import { StoreType } from "@/store/app";
import { Pagination as PaginationModel } from "../LatestStores/model";
const SectionsComponent = defineAsyncComponent(
  () => import("@/components/Sections/index.vue")
);
const sectionsLoading = ref<boolean>(true);
const storesLoading = ref<boolean>(false);
const sectionsItems = ref<Section[]>([]);
const storeItems = ref<StoreType[]>([]);
const currentIndex = ref<number | null | string>(null);
const sectionName = ref<string | any>();
const paginationMeta = ref<PaginationModel | any>();
const loadMore = ref<boolean>(false);
defineComponent({
  name: "Sections",
});
const reviews = ref<any>(null);

const itemsLength = computed(() => {
  if (sectionsItems && sectionsItems.value?.length < 5) {
    return sectionsItems.value?.length;
  } else {
    return 5;
  }
});

const breakpoints = {
  // 700px and up
  700: {
    itemsToShow: 1,
    snapAlign: "center",
  },
  // 1024 and up
  1024: {
    itemsToShow: itemsLength,
    snapAlign: "start",
  },
};

const getSections = async () => {
  const res = await $http.get<{ data: { data: Section[] } }>({
    url: "sections",
  });
  const { data } = res.data;
  sectionsItems.value = data;
  sectionsLoading.value = false;
};

const getStoreBySection = async (page: number = 1) => {
  const { id, name } = sectionsItems.value[currentIndex?.value as any];
  sectionName.value = name;
  storesLoading.value = true;
  const res = await $http.get<{
    data: { data: StoreType[]; meta: PaginationModel };
  }>({
    url: `section_stores/${id}`,
    query: { page },
  });
  const { data, meta } = res.data;
  if (meta.last_page > meta.current_page) {
    storeItems.value = [...storeItems.value, ...data];
  } else {
    storeItems.value = data;
  }
  paginationMeta.value = meta;
  loadMore.value = false;
};

const onSelectStore = async (index: number) => {
  currentIndex.value = index;
  getStoreBySection();
};
const handlePagination = () => {
  loadMore.value = true;
  paginationMeta.value?.current_page &&
    getStoreBySection(paginationMeta.value?.current_page + 1);
};
onMounted(() => {
  getSections();
});
</script>

<style lang="scss">
.sections {
  .carousel__pagination-item {
    height: 8px !important;

    button {
      padding: 0;
      margin: 0;

      &::after {
        background-color: getColor(pagination-gradient) !important;
      }

      &.carousel__pagination-button--active {
        background-color: getColor(primary);
      }
    }
  }

  .carousel__next,
  .carousel__prev {
    width: 60px;
    height: 60px;
    background-color: getColor(primary);
    color: getColor(white);
    border-radius: 50%;
  }

  .carousel__prev {
    @include desktop {
      right: -25px;
    }
  }

  .carousel__next {
    @include desktop {
      left: -25px;
    }
  }
}
</style>
