<template>
  <header style="min-height: 48px" color="transparent" class="navbar">
    <v-container>
      <v-row>
        <v-col cols="12">
          <v-row class="justify-center">
            <v-col cols="7" md="10" l>
              <v-app-bar-nav-icon v-if="smAndDown" variant="text" @click.stop="drawer = !drawer"></v-app-bar-nav-icon>
              <template v-if="!smAndDown">
                <v-list class="d-flex gap-20 bg-transparent pa-0">
                  <v-list-item>
                    <router-link exact to="/">
                      <v-img src="@/assets/images/logo.svg"></v-img>
                    </router-link>
                  </v-list-item>
                  <v-list-item active-class="active-route" :active="$route.fullPath === item.to" :ripple="false" exact
                    v-for="(item, i) in sidebarItems" :key="i" :value="item" :to="item.to">
                    <template v-slot:append v-if="item.icon">
                      <v-icon size="sm" :icon="item.icon"></v-icon>
                    </template>

                    <v-list-item-title class="font-weight-medium size-18">{{
                      item.text
                    }}</v-list-item-title>
                  </v-list-item>
                </v-list>
              </template>
            </v-col>
            <v-col cols="4" md="2" class="d-flex justify-end">
              <v-btn to="/subscription" color="primary" rounded height="48px" block>
                {{ $t("subscribtion") }}
              </v-btn>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </header>

  <v-navigation-drawer color="dark_primary" :style="{ top: 0, height: '100%', zIndex: '99999' }" :width="drawerWidth"
    v-model="drawer" :location="isRtl ? 'right' : 'left'" temporary>
    <SideBar />
  </v-navigation-drawer>

  <slot />
</template>

<script setup lang="ts">
import { defineAsyncComponent } from "vue";
import { ref } from "vue";
import { useRtl, useDisplay } from "vuetify/lib/framework.mjs";
import { useNavbar, NavBar } from "@/composables/useNavbar";

// components
const SideBar = defineAsyncComponent(
  () => import("@/components/Sidebar/index.vue")
);
const { isRtl } = useRtl();
const { smAndDown } = useDisplay();
const drawer = ref(false);
const drawerWidth: number = 300;

const sidebarItems: NavBar[] = useNavbar();
</script>
