<template>
  <div class="text-center mt-2">
    <v-pagination active-color="primary" v-model="store.pagination.current_page" :length="store.pagination.last_page"
      size="small" @update:model-value="handlePagination"></v-pagination>
  </div>
</template>
<script setup lang="ts">

import { useQueryStore } from "@/store/query";
import { useTableStore } from "@/store/table";

const store = useTableStore();
const queryStore = useQueryStore();
const emit = defineEmits<{
  (event: "onPaginationChange"): void;
}>();

const handlePagination = () => {
  queryStore.setQuery({ page: store.pagination.current_page });
  emit("onPaginationChange");

};
</script>
