<template>
  <div class="text-center">
    <v-snackbar
      v-model="store.open"
      vertical
      position="fixed"
      :color="store.color"
      eager
      location="top center"
      timeout="3000"
      origin="overlap"
    >
      <div class="text-subtitle-1 pb-2 text-center d-flex justify-center">
        {{ store.message }}
      </div>
    </v-snackbar>
  </div>
</template>
<script setup lang="ts">
import { useNotificationStore } from "@/store/notification";
const store = useNotificationStore();

import { defineComponent } from "vue";
defineComponent({ name: "Notification" });
</script>

<style>
.v-snackbar__content {
  width: 100%;
}
</style>
