<template>
  <v-dialog
    persistent
    scrollable
    :model-value="dialog"
    @update:model-value="$emit('update:dialog', !dialog)"
    max-width="1100px"
    class="product-dialog"
  >
    <v-card class="dialog-card" style="border-radius: 12px">
      <template v-if="loading">
        <div class="text-center">
          <Loader />
        </div>
      </template>
      <template v-else>
        <v-btn
          @click="$emit('update:dialog', !dialog)"
          class="button"
          icon
          flat
        >
          <v-icon>mdi-close</v-icon>
        </v-btn>
        <section-title class="pa-6">
          <h1 class="text-center" style="font-size: 24px">تفاصيل المنتج</h1>
        </section-title>
        <div class="gallery">
          <Carousel
            id="gallery"
            :items-to-show="1"
            :wrap-around="true"
            dir="rtl"
            v-model="currentSlide"
            ref="gallery"
          >
            <Slide
              v-for="(slide, index) in productDetails?.images"
              :key="index"
            >
              <div class="carousel__item">
                <v-img :src="slide.img"></v-img>
              </div>
            </Slide>
          </Carousel>
          <div
            class="d-flex justify-space-between align-center slide-button-group"
          >
            <div class="slide-button slide-button__prev" @click="prev">
              <v-btn size="x-large" icon variant="elevated" color="primary">
                <v-icon>mdi-chevron-right</v-icon>
              </v-btn>
            </div>
            <div class="slide-button slide-button__next" @click="next">
              <v-btn size="x-large" icon variant="elevated" color="primary">
                <v-icon>mdi-chevron-left</v-icon>
              </v-btn>
            </div>
          </div>
        </div>
        <Carousel
          id="thumbnails"
          :items-to-show="4"
          :wrap-around="true"
          v-model="currentSlide"
          dir="rtl"
          ref="carousel"
        >
          <Slide v-for="(slide, index) in productDetails?.images" :key="index">
            <div class="carousel__item" @click="slideTo(Number(index - 1))">
              <v-img aspect-ratio="1" :src="slide.img"></v-img>
            </div>
          </Slide>
        </Carousel>

        <h1 class="heading">
          {{ productDetails.name }}
        </h1>
        <div class="d-flex align-center gap-10 mt-3">
          <strong class="text-primary size-20"
            >{{ productDetails.price }} ر.س
          </strong>
          <span class="price-discount size-18 text-gray">
            <span class="rotate-dash">{{ productDetails.price_after }}</span
            >ر.س
          </span>
        </div>
        <h2>{{ $t("about_product") }}</h2>
        <p class="desc">
          {{ productDetails.bio }}
        </p>
        <v-divider :thickness="2" class="mt-5"></v-divider>
        <v-row justify="center" class="mt-5">
          <v-col cols="12" lg="4">
            <v-btn
              :disabled="productDetails.is_liked == 'liked'"
              class="rounded-lg"
              block
              color="primary"
              size="x-large"
              density="comfortable"
              @click="handleStatus('liked')"
              :loading="statusLoading.liked"
            >
              <v-icon start icon="mdi mdi-thumb-up"></v-icon>
              {{ $t("like") }}
            </v-btn>
          </v-col>
          <v-col cols="12" lg="4">
            <v-btn
              :loading="statusLoading.dislike"
              @click="handleStatus('dislike')"
              :disabled="productDetails.is_liked == 'dislike'"
              class="rounded-lg"
              block
              color="error"
              variant="outlined"
              size="x-large"
              density="comfortable"
              ><v-icon start icon="mdi mdi-thumb-down"></v-icon>
              {{ $t("dislike") }}
            </v-btn>
          </v-col>
        </v-row>
        <v-row justify="center">
          <v-col lg="6">
            <v-btn
              target="_blank"
              :href="productDetails.file"
              class="rounded-lg"
              block
              color="primary"
              variant="text"
              size="x-large"
              density="comfortable"
              ><v-icon start icon="mdi mdi-tray-arrow-down"></v-icon>
              {{ $t("download_product_details") }}
            </v-btn>
          </v-col>
        </v-row>
      </template>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { defineComponent, ref } from "vue";
import { TStatus, StatusLoading } from "./model";
defineComponent({
  name: "ProductDialog",
});

const props = withDefaults(
  defineProps<{
    dialog: boolean;
    productDetails: IProductDetail;
    loading: boolean;
  }>(),
  {
    dialog: false,
    loading: true,
  }
);

import { Carousel, Slide } from "vue3-carousel";
import { IProductDetail } from "../Cards/model";
import { $http } from "@/api";
defineComponent({
  name: "ProductDialog",
});
const emit = defineEmits<{
  (event: "update:dialog", dialog: boolean): void;
}>();
const gallery = ref();
const currentSlide = ref<number>(0);
const statusLoading = ref<StatusLoading>({
  dislike: false,
  liked: false,
  not_exists: false,
});

const slideTo = (val: number) => {
  currentSlide.value = val;
};

const next = () => {
  gallery.value.next();
};
const prev = () => {
  gallery.value.prev();
};

const handleStatus = async (status: TStatus) => {
  try {
    statusLoading.value[status] = true;
    await $http.post({
      url: "likeStatus",
      data: { status, product_id: props.productDetails.id },
    });
    emit("update:dialog", !props.dialog);
  } finally {
    statusLoading.value[status] = false;
  }
};
</script>

<style scoped lang="scss">
.carousel__item {
  min-height: 150px;
  width: 100%;
  font-size: 20px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.carousel__slide {
  padding: 5px;
}

.carousel__prev,
.carousel__next {
  box-sizing: content-box;
  border: 5px solid white;
}

.dialog-card {
  padding: 40px;
}
.button {
  position: absolute;
  top: 12px;
  left: 12px;
}
</style>
