<template>
  <v-col
    cols="12"
    class="text-center d-flex justify-center mx-auto mt-4"
    style="min-height: 100px; position: relative"
  >
    <v-progress-circular
      class="text-center d-flex justify-center"
      :width="3"
      color="primary"
      indeterminate
    ></v-progress-circular>
  </v-col>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped></style>
