<template>
  <v-dialog v-bind="$attrs" width="500" absolute>
    <v-card min-height="200" class="text-center">
      <v-card-text>
        <slot />
      </v-card-text>
      <!-- <v-card-actions class="d-flex justify-center">
        <v-btn color="error" @click="$emit('onClose')">الغاء</v-btn>
      </v-card-actions> -->
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts"></script>

<style scoped></style>
