* {
  letter-spacing: 0;
  font-family: "Tajawal";
  font-weight: 500;
  box-sizing: border-box !important;
}
a {
  text-decoration: none !important;
  color: inherit;
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

// .v-main {
//   background-color: getColor(off_white);
// }

/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: getColor(white);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: getColor(secondary);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
.v-breadcrumbs-item--active {
  opacity: 1 !important;
}
