$colors: (
  primary: #24ad53,
  secondary: #1c2733,
  white: #fff,
  orange: #ffb847,
  gray: #9f9f9f,
  "gradient": rgba(28, 39, 51, 0.74),
  "pagination-gradient": rgba(36, 173, 83, 0.1),
  "light-gray": #f1f3f8,
  "light-gray-2": #f5f7fd,
  "light-gray-3": #f5f5f5,
  "light-gray-4": #d0d5dd,
  "light-gray-5": #80848a,
  "text-color": #2b2f38
);
