<template>
  <section class="mt-10">
    <page-title>
      <div>
        <h1 class="text-center size-40">
          {{ $t("subscription") }}
        </h1>
        <breadcrumbs :items="items"></breadcrumbs>
      </div>
    </page-title>
    <v-container class="my-7">
      <v-row>
        <v-col cols="12" sm="10" md="8" lg="6" class="mx-auto">
          <v-form @submit="onSubmit">
            <v-card min-height="690" class="shadow px-5 py-10 radius-10">
              <v-card-title class="text-center">
                <h1 class="size-30">
                  <span>{{ $t("you_are_welcome_in") }}</span>
                  <span class="text-primary">{{ $t("saf_platform") }}</span>
                </h1>
              </v-card-title>
              <v-card-text class="mt-16">
                <v-row>
                  <v-col cols="12">
                    <text-field
                      label_name="company_name"
                      name="company_name"
                      :placeholder="$t('enter_company_name')"
                    />
                  </v-col>

                  <v-col cols="12">
                    <file-upload
                      name="company_image"
                      label_name="company_image"
                    />
                  </v-col>

                  <v-col cols="12">
                    <file-upload
                      name="commericalRegister_img"
                      label_name="commericalRegister_img"
                    />
                  </v-col>

                  <v-col cols="12">
                    <text-field
                      type="number"
                      name="tax_record"
                      label_name="tax_registration_number"
                      :placeholder="$t('enter_tax_registration_number')"
                    >
                    </text-field>
                  </v-col>
                </v-row>
              </v-card-text>
              <v-card-actions>
                <v-col class="mx-auto" cols="12" sm="6" md="4">
                  <v-btn
                    :loading="loading"
                    height="48"
                    rounded
                    block
                    type="submit"
                    color="primary"
                    variant="elevated"
                  >
                    {{ $t("next") }}
                  </v-btn>
                </v-col>
              </v-card-actions>
            </v-card>
          </v-form>
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import { useCompleteSubscription } from "./complete-subscription.composable";

const { items, onSubmit, loading } = useCompleteSubscription();
</script>

<style lang="scss" scoped></style>
