<template>
  <h2 class="section-title text-primary" v-bind="$attrs">
    <div class="section-title__border"></div>
    <slot />
  </h2>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
  name: "SectionTitle",
});
withDefaults(defineProps<{ title: string }>(), {
  title: "",
});
</script>
<style scoped lang="scss">
.section-title {
  font-size: 32px;
  display: flex;
  align-items: center;
  gap: 20px;
  &__border {
    width: 10px;
    height: 65px;
    display: block;
    background-color: getColor(primary);
  }
}
</style>
