<template>
  <v-label class="text-secondary mb-2" style="opacity: 1">{{ $t(label_name) }}
  </v-label>
  <v-autocomplete class="custom-input" transition="fade-transition" flat eager bg-color="light-gray" variant="solo-filled"
    v-bind="$attrs" :error-messages="errorMessage" v-model="value">
    <template #append-inner>
      <slot name="append-inner" />
    </template>
    <template #prepend-inner>
      <slot name="prepend-inner" />
    </template>
  </v-autocomplete>
</template>

<script setup lang="ts">
import { useField } from 'vee-validate';


const props = defineProps({
  name: {
    type: String,
    default: "",
  },
  label_name: {
    type: String,
    default: "",
  },
});
const { value, errorMessage } = useField(() => props.name)
</script>
