<template>
  <Field
    ref="field_ref"
    v-slot="{ field, errorMessage }"
    :name="name"
    style="position: relative"
  >
    <v-label class="text-secondary mb-2" style="opacity: 1">
      {{ $t(label_name) }}</v-label
    >
    <section
      class="file-uploader d-flex justify-center align-center"
      v-bind="{ field, ...$attrs }"
      :style="{ 'background-image': 'url(' + imageUrl + ')' }"
    >
      <transition name="fade-transition" mode="out-in">
        <v-btn
          @click="clearFile"
          v-if="imageUrl"
          style="left: 4px; top: 4px"
          :ripple="false"
          position="absolute"
          location="top left"
          size="x-small"
          icon
          color="error"
          flat
        >
          <v-icon color="white">mdi-close</v-icon>
        </v-btn>
      </transition>

      <transition name="fade-transition" mode="out-in">
        <div
          @click="file_ref?.click()"
          v-if="!imageUrl"
          class="file-uploader__action d-flex align-center justify-center flex-column gap-10"
        >
          <v-icon color="secondary" size="x-large">mdi-cloud-upload</v-icon>
          <p class="size-20 text-secondary font-weight-medium">
            {{ $t("attach_file") }}
          </p>
          <v-btn
            flat
            size="small"
            color="primary"
            width="32"
            height="32"
            class="radius-4"
            icon
          >
            <v-icon color="white">mdi-plus</v-icon>
          </v-btn>
        </div>
      </transition>
    </section>
    <p class="text-error size-12 line-height-12 font-weight-medium pa-3">
      {{ errorMessage }}
    </p>

    <input
      type="file"
      hidden
      ref="file_ref"
      @input="onFileSelect"
      accept="image/*"
    />
  </Field>
</template>

<script setup lang="ts">
import { Field, FieldContext } from "vee-validate";
import { ref } from "vue";
import { useI18n } from "vue-i18n";

withDefaults(defineProps<{ name: string; label_name: string }>(), {
  name: "",
  label_name: "",
});

const file_ref = ref<HTMLInputElement | any>();
const { t } = useI18n();
const imageUrl = ref<string | null>();
const emit = defineEmits<{
  (event: "onFileUpload", file: File | null): void;
}>();
const field_ref = ref<FieldContext>();
const onFileSelect = (e: any) => {
  const file: File = e.target.files[0];

  if (!file.type.startsWith("image/")) {
    field_ref.value?.setErrors(t("validations.invalid_image"));
    return;
  }

  imageUrl.value = URL.createObjectURL(file);

  field_ref?.value?.handleChange(file);
  emit("onFileUpload", file);
};

const clearFile = () => {
  imageUrl.value = null;
  field_ref?.value?.handleChange(null);
  if (file_ref) {
    file_ref.value.value = ""; // Clear the value by assigning an empty string
  }
  emit("onFileUpload", null);
};
</script>

<style lang="scss">
.file-uploader {
  border-radius: 4px;
  height: 131px;
  border: 1px dashed getColor(light-gray-4);
  position: relative;
  transition: all 0.4s linear;
  aspect-ratio: 1/1;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  object-fit: fill;

  &__action {
    transition: all 0.4s linear;
    cursor: pointer;
    width: 100%;
    height: 100%;
  }
}
</style>
