<template>
  <Field v-slot="{ field, errorMessage, handleChange, validate }" :name="name">
    <v-label class="text-secondary mb-2" style="opacity: 1">{{ $t(label_name) }}
    </v-label>
    <v-select class="custom-input" transition="fade-transition" flat eager bg-color="light-gray" variant="solo-filled"
      v-bind="{ ...field, ...$attrs }" @blur="validate" @change="handleChange" :error-messages="errorMessage">
      <template #append-inner>
        <slot name="append-inner" />
      </template>
      <template #prepend-inner>
        <slot name="prepend-inner" />
      </template>
    </v-select>
  </Field>
</template>

<script setup lang="ts">
import { Field } from "vee-validate";

defineProps({
  name: {
    type: String,
    default: "",
  },
  label_name: {
    type: String,
    default: "",
  },
});
</script>
