<template>
  <SharedStaticPage :id="5" />
</template>

<script setup lang="ts">
import { defineAsyncComponent } from 'vue';

const SharedStaticPage = defineAsyncComponent(() => import('@/components/SharedStaticPage/index.vue'))
</script>

<style lang="scss" scoped></style>
