<template>
  <header class="bg-primary top-bar" style="min-height: 64px">
    <v-container>
      <v-row>
        <v-col cols="12" class="align-self-center py-0">
          <v-row>
            <v-col cols="12" sm="6" class="justify-sm-start justify-center d-flex align-center gap-12">
              <div style="margin-block: 20px" class="d-flex align-center gap-12">
                <a href="mailto:virtual@fair.sa" class="d-flex align-center gap-7">
                  <span class="mt-1"> virtual@fair.sa </span>
                  <v-icon size="small">mdi-email</v-icon>
                </a>
                <v-divider vertical color="white" :thickness="2" class="border-opacity-100"></v-divider>
                <a href="tel:+9952649435" class="d-flex align-center gap-7">
                  <span class="mt-1"> 9952649435+</span>
                  <v-icon size="small">mdi-phone</v-icon>
                </a>
              </div>
            </v-col>

            <v-col cols="12" sm="6" class="d-flex justify-sm-end justify-center align-self-center">
              <div class="d-flex align-center gap-4">
                <!-- <v-btn
                  @click="changeLanguage"
                  size="x-large"
                  variant="text"
                  icon="mdi-earth"
                  :title="$t('language')"
                  width="50px"
                  height="50px"
                >
                  {{ locale == "en" ? "AR" : "EN" }}
                </v-btn>
                <v-divider
                  vertical
                  style="margin-bottom: 12px; margin-top: 12px"
                  color="white"
                  :thickness="2"
                  class="border-opacity-100"
                ></v-divider> -->
                <div class="contact-social d-flex align-center gap-10">
                  <a :href="appStore.getContactInfo.snapchat_link" target="_blank">
                    <v-img class="mr-3" width="20px" height="20px" src="@/assets/images/snapchat-top.svg"></v-img>
                  </a>
                  <a :href="appStore.getContactInfo.youtube_link" target="_blank">
                    <v-img width="20px" height="20px" src="@/assets/images/youtube-top.svg"></v-img>
                  </a>
                  <a :href="appStore.getContactInfo.instagram_link" target="_blank">
                    <v-img width="20px" height="20px" src="@/assets/images/instagram-top.svg"></v-img>
                  </a>
                  <a :href="appStore.getContactInfo.twitter_link" target="_blank">
                    <v-img width="20px" height="20px" src="@/assets/images/twitter-top.svg"></v-img>
                  </a>
                  <a :href="appStore.getContactInfo.facebook_link" target="_blank">
                    <v-img width="20px" height="20px" src="@/assets/images/facebook-top.svg"></v-img>
                  </a>
                </div>
              </div>
            </v-col>
          </v-row>
        </v-col>
      </v-row>
    </v-container>
  </header>

  <slot />
</template>

<script setup lang="ts">
import { useAppStore } from "@/store/app";
import Cookies from "js-cookie";
import { defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import { useDisplay } from "vuetify/lib/framework.mjs";
defineComponent({
  name: "TopBar",
});
const appStore = useAppStore();

const { locale } = useI18n();
// components

const { mdAndDown } = useDisplay();

const changeLanguage = () => {
  locale.value = locale.value == "ar" ? "en" : "ar";
  Cookies.set("locale", locale.value);
  window.location.reload();
};
</script>
