<template>
  <v-container class="my-7">
    <v-row>
      <v-col cols="12" sm="10" lg="8" class="mx-auto">
        <v-form @submit="handleNext">
          <v-card min-height="690" class="shadow px-5 py-10 radius-10">
            <v-card-title class="text-center">
              <h1 class="size-30">
                <span>{{ $t("you_are_welcome_in") }}</span>
                <span class="text-primary">{{ $t("saf_platform") }}</span>
              </h1>
            </v-card-title>
            <v-card-text class="mt-16">
              <v-row>
                <v-col cols="12" sm="6">
                  <text-field label_name="first_name" name="f_name" :placeholder="$t('enter_first_name')" />
                </v-col>
                <v-col cols="12" sm="6">
                  <text-field label_name="last_name" name="l_name" :placeholder="$t('enter_last_name')" />
                </v-col>
                <v-col cols="12" sm="6">
                  <text-field type="email" label_name="email" name="email" :placeholder="$t('enter_email')" />
                </v-col>
                <v-col cols="12" sm="6">
                  <text-field type="number" label_name="phone" name="phone" :placeholder="$t('enter_phone')">
                  </text-field>
                </v-col>
                <v-col cols="12" sm="6">
                  <auto-complete :loading="loadingCountries" :items="countries" item-title="name" item-value="id"
                    label_name="country" return-object name="country" :placeholder="$t('choose_country')" />
                </v-col>
                <v-col cols="12" sm="6">
                  <select-field multiple :loading="loadingSections" :items="sections" item-title="name" item-value="id"
                    label_name="sector" name="sections" :placeholder="$t('choose_sector')" />
                </v-col>
              </v-row>
            </v-card-text>
            <v-card-actions>
              <v-col class="mx-auto" cols="12" sm="4" md="3">
                <v-btn height="48" rounded block type="submit" color="primary" variant="elevated">
                  {{ $t("next") }}
                </v-btn>
              </v-col>
            </v-card-actions>
          </v-card>
        </v-form>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { Country } from "@/store/app";
import { Section } from "@/views/Sections/model";
import { onMounted } from "vue";
import { ref } from "vue";
import { inject } from "vue";
const handleNext = inject<() => void>("handleNext");
const countries = ref<Country[]>([]);
const sections = ref<Section[]>();
const loadingCountries = ref<boolean>(true);
const loadingSections = ref<boolean>(true);

const fetchCountries = async () => {
  const res = await $http.get<{ data: { data: Country[] } }>({
    url: "list_countries",
  });
  const { data } = res.data;
  countries.value = data;
  loadingCountries.value = false;
};

const fetchSections = async () => {
  const res = await $http.get<{
    data: { data: Section[] };
  }>({
    url: "list_sections",
  });
  const { data } = res.data;
  sections.value = data;
  loadingSections.value = false;
};

onMounted(() => {
  fetchSections();
  fetchCountries();
});
</script>
