<template>
  <v-container class="mt-7 second-step">
    <v-row>
      <v-col cols="12" sm="10" md="8" lg="6" class="mx-auto">
        <v-row>
          <v-col cols="12">
            <v-tabs class="shadow-2 px-2 align-center d-flex" grow center-active v-model="tab" height="80"
              align-tabs="center" selected-class="bg-primary text-white" color="transparent"
              @update:model-value="onChange">
              <v-tab height="64" v-for="(sub, index) in subscriptions" :key="index" hide-slider rounded :elevation="0"
                :value="sub.value">{{ $t(sub.label) }}</v-tab>
            </v-tabs>
          </v-col>
          <v-col cols="12" lg="10" class="mt-4 mx-auto">
            <p class="size-26 text-gradient  font-weight-light line-height-40 text-center" style="min-height: 100px;">
              {{ textContent?.content }}
            </p>
          </v-col>
        </v-row>
      </v-col>
    </v-row>
    <v-row class="mt-5">
      <v-col cols="12" lg="10" class="mx-auto">
        <v-sheet min-height="497" class="radius-16 d-flex justify-center align-center">
        </v-sheet>
      </v-col>
    </v-row>
    <v-row>
      <v-col cols="12" sm="6" md="3" lg="2" class="mx-auto my-10">
        <v-btn block variant="elevated" color="primary" rounded height="64" class="size-20" @click="onClick">
          {{ $t("subscribe") }}
          {{ $t(tab) }}</v-btn>
      </v-col></v-row>
  </v-container>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { inject } from "vue";
import { ref } from "vue";
import { defineComponent } from "vue";
import { TContent } from "./types";
import { watchEffect } from "vue";

defineComponent({
  name: "SecondStep",
});
type Tab = "visitor" | "presenter";
const textContent = ref<TContent>()
const subscriptions: { label: string; value: string }[] = [
  { label: "signup_as_guest", value: "visitor" },
  { label: "subscribe_as_exhibitor", value: "presenter" },
];

const tab = ref<Tab>("visitor");
const onChange = inject<(value: Tab | unknown) => Tab>("onChange");
const onSubmit = inject<() => void>("onSubmit");
const getTextContent = async () => {
  const res: { data: { data: TContent } } = await $http.get({ url: `introductoryText`, query: { type: tab.value } })
  const { data } = res.data
  textContent.value = data
}
const onClick = () => {
  onSubmit && onSubmit();
};

watchEffect(() => {
  getTextContent()
})

</script>

<style scoped lang="scss">
.second-step {
  .v-sheet {
    background-image: url("/bg.svg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    object-fit: fill;
  }

  .v-slide-group {
    border-radius: 35px !important;
  }

  .v-tab {
    border-radius: 30px !important;
    border: transparent !important;
    font-size: 20px !important;
    color: getColor(gray);
  }
}
</style>
