<template>
  <section class="about-us">
    <skeleton-loader type="heading" :loading="store.loadingData">
      <section-title>
        <h1 class="text-center" style="font-size: 40px">
          {{ store.getHomeStaticPage?.title }}
        </h1>
      </section-title>
    </skeleton-loader>
    <v-row>
      <v-col lg="6" md="6" cols="12">
        <h1 class="heading">
          من <span class="break-line">افضل الشركات</span> <br />في مجال عرض
          <span>الاعمال الفنية</span> وغيرها
        </h1>
        <h2>رؤيتنا :</h2>
        <skeleton-loader type="text" :loading="store.loadingData">
          <transition name="fade-transition">
            <p class="desc">
              {{ aboutDescription }}
            </p>
          </transition>
          <v-btn v-if="descriptionLength > truncatedText" color="primary" variant="outlined" size="x-large"
            class="mt-8 read-more" rounded="xl" @click="showMore">{{ $t("read_more") }}</v-btn>
        </skeleton-loader>
      </v-col>
      <v-col lg="5" cols="12" md="6" class="align-self-center">
        <v-img class="image" src="@/assets/images/header_lady.svg" height="500"></v-img>
      </v-col>
    </v-row>
  </section>
</template>

<script lang="ts" setup>
import { useAppStore } from "@/store/app";
import { onMounted } from "vue";
import { computed } from "vue";
import { ref } from "vue";
import { defineComponent } from "vue";

defineComponent({
  name: "about",
});
const store = useAppStore();
const truncatedText = ref<number>(100);

const aboutDescription = computed(() =>
  store.getHomeStaticPage?.content?.substring(0, truncatedText.value)
);

const descriptionLength = computed(
  () => store.getHomeStaticPage?.content.length
);
const showMore = () => {
  truncatedText.value = descriptionLength.value;
};
</script>

<style lang="scss" scoped>
.slide-enter-active,
.slide-leave-active {
  transition: all 0.5s;
}

.slide-leave-to {
  transform: translateX(120%);
  opacity: 0;
}

.slide-enter-from {
  transform: translateX(100%);
  // opacity: 0;
}

.slide-enter-to {
  transform: translateX(0);
  // opacity: 1;
}
</style>
