<template>
  <div>
    <v-form @submit="onSubmit">
      <v-card class="shadow px-5 py-10 radius-10">
        <v-card-title>
          <h1 class="size-30 text-primary">
            {{ $t("send_us_message") }}
          </h1>
        </v-card-title>
        <v-card-text class="mt-16">
          <v-row>
            <v-col cols="12">
              <text-field
                name="full_name"
                label_name="user_name"
                :placeholder="$t('user_name')"
              />
            </v-col>
            <v-col cols="12" sm="12">
              <text-field
                name="email"
                type="email"
                label_name="email"
                :placeholder="$t('enter_email')"
              />
            </v-col>
            <v-col cols="12">
              <select-field
                name="message_type"
                :items="selectItems"
                item-title="name"
                item-value="value"
                label_name="message_subject"
                :placeholder="$t('message_subject')"
              />
            </v-col>
            <v-col cols="12">
              <text-area
                label_name="message"
                name="content"
                :placeholder="$t('message')"
              />
            </v-col>
          </v-row>
        </v-card-text>
        <v-card-actions>
          <v-col cols="12" sm="4" md="3">
            <v-btn
              :loading="loading"
              density="comfortable"
              height="40"
              rounded
              block
              type="submit"
              color="primary"
              variant="elevated"
            >
              {{ $t("send_message") }}
            </v-btn>
          </v-col>
        </v-card-actions>
      </v-card>
    </v-form>
  </div>
</template>

<script setup lang="ts">
import { useContactFormComposable } from "./contact.composable";
const { onSubmit, selectItems, loading } = useContactFormComposable();
</script>

<style lang="scss" scoped>
.text-area {
  background: getColor(light-grey);
}
</style>
