<template>
  <div class="contact-info">
    <v-card class="shadow px-5 py-10 radius-10">
      <v-card-title>
        <h1 class="size-30 text-primary">
          {{ $t("contact_us_info") }}
        </h1>
      </v-card-title>
      <v-list>
        <v-list-item>
          <v-list-item-avatar>
            <v-img
              max-height="64"
              max-width="64"
              src="@/assets/images/phone.svg"
            ></v-img>
          </v-list-item-avatar>

          <v-list-item-content class="list-content">
            <v-list-item-title class="size-22">{{
              $t("phone_num")
            }}</v-list-item-title>
            <v-list-item-subtitle>
              <a :href="`tel:${appStore.getContactInfo?.phone}`" dir="ltr">
                {{ appStore.getContactInfo?.phone }}
              </a>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-avatar>
            <v-img
              max-height="64"
              max-width="64"
              src="@/assets/images/mail.svg"
            ></v-img>
          </v-list-item-avatar>

          <v-list-item-content class="list-content">
            <v-list-item-title class="size-22">{{
              $t("email")
            }}</v-list-item-title>
            <v-list-item-subtitle>
              <a :href="`mailto:${appStore.getContactInfo?.contact_email}`">
                {{ appStore.getContactInfo?.contact_email }}
              </a>
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
        <v-list-item>
          <v-list-item-avatar>
            <v-img
              height="64"
              width="64"
              src="@/assets/images/location.svg"
            ></v-img>
          </v-list-item-avatar>

          <v-list-item-content class="list-content">
            <v-list-item-title class="size-22">{{
              $t("location")
            }}</v-list-item-title>
            <v-list-item-subtitle>
              {{ appStore.getContactInfo?.address }}
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>
      </v-list>
      <!-- <v-img
        cover
        aspect-ratio="1"
        height="322"
        src="@/assets/images/map-cont.svg"
      ></v-img> -->
      <GoogleMap
        :center="{ lat: 40.689247, lng: -74.044502 }"
        style="width: 100%; height: 325px"
      />
    </v-card>
  </div>
</template>

<script lang="ts" setup>
import { useAppStore } from "@/store/app";
import { onMounted } from "vue";
import { defineComponent } from "vue";
import GoogleMap from '../GoogleMap/index.vue'

defineComponent({
  name: "ContactUsInfo",
});

const appStore = useAppStore();
</script>

<style lang="scss" scoped></style>
