<template>
  <main class="exhibitions-page mt-10" style="min-height: 100vh;">
    <page-title>
      <h1 class="text-center" style="font-size: 40px">
        {{ $t("presenters") }}
      </h1>
    </page-title>
    <v-container class="mt-5">
      <v-row>
        <v-col cols="12" sm="10">
          <search-filter filterName="search" :placeholder="$t('viewer_name')" />
        </v-col>
        <v-col cols="12" sm="2">
          <v-btn @click="handleFilter" block rounded color="primary" height="54">
            {{ $t("find_viwer") }}
          </v-btn>
        </v-col>
      </v-row>
      <v-row>
        <v-col cols="12" sm="6" md="4" lg="2" class="d-flex align-center gap-10">
          <label for="sort" class="text-primary">
            {{ $t("sort_by") }}
          </label>
          <select-filter @update:modelValue="fetchPresenters" :items="sortItems" item-title="name" item-value="value"
            id="sort" filterName="sort" />
        </v-col>
      </v-row>
      <v-row class="mt-3">
        <template v-if="!loadingData && presentersData.length > 0">
          <v-col cols="12" v-for="(presenter, index) in presentersData" :key="index">
            <skeleton-loader :loading="loadingData">
              <PresenterCard :presenter="presenter" />
            </skeleton-loader>
          </v-col>
          <v-col cols="12">
            <Pagination @onPaginationChange="fetchPresenters" />
          </v-col>
        </template>
        <v-col cols="12" v-else class="text-center">
          <v-img height="100" src="@/assets/images/no_result.png"></v-img>
          <p>{{ $t("no_result") }}</p>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { onMounted } from "vue";
import { computed } from "vue";
import { defineAsyncComponent } from "vue";
import { ref } from "vue";
import { useRoute } from "vue-router";
import { Presenter } from "./model";
import { Pagination as PaginationMeta } from "../LatestStores/model";
import { useTableStore } from "@/store/table";
import { useQueryStore } from "@/store/query";
import { useI18n } from "vue-i18n";

const PresenterCard = defineAsyncComponent(
  () => import("@/components/Cards/PresenterCard.vue")
);

const route = useRoute();
const { t } = useI18n();
const useStore = useTableStore();
const useQuery = useQueryStore();
const loadingData = ref<boolean>(true);
const presenters = ref<any[]>();

// most_views / latest
const sortItems: { name: string; value: string }[] = [
  {
    name: t("most_views"),
    value: "most_views",
  },
  {
    name: t("latest"),
    value: "latest",
  },
];

const fetchPresenters = async () => {
  loadingData.value = true;
  const res = await $http.get<{
    data: { data: Presenter[]; meta: PaginationMeta };
  }>({
    url: `presenters/${route.params["id"]}`,
    query: useQuery.query,
  });
  const { data, meta } = res.data;
  loadingData.value = false;
  presenters.value = data;
  useStore.setPagination(meta);
};

const presentersData = computed(() => {
  if (loadingData.value) {
    return 1;
  } else {
    return presenters.value;
  }
}) as any;

const handleFilter = () => {
  fetchPresenters();
};
onMounted(() => {
  fetchPresenters();
});
</script>
