<template>
  <section class="mt-10" style="min-height: 100vh;">
    <page-title>
      <div>
        <h1 class="text-center size-40">
          {{ $t("subscription") }}
        </h1>
        <breadcrumbs :items="items"></breadcrumbs>
      </div>
    </page-title>
    <v-window v-model="step">
      <v-window-item v-for="(_, index) in components" :value="index" :key="index">
        <div style="min-height: 50vh">
          <component :is="components[index]" />
        </div>
      </v-window-item>
    </v-window>
  </section>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";
import { useSubscription } from "./subscription.composable";
defineComponent({ name: "Subscription" })
const { step, items, components } = useSubscription();
</script>

<style lang="scss" scoped></style>
