<template>
  <div class="page-title d-flex justify-center align-center">
    <slot />
  </div>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
  name: "PageTitle",
});
</script>

<style scoped lang="scss">
.page-title {
  min-height: 181px;
  background-color: getColor(light-gray);
}
</style>
