.about-us {
  padding-top: 40px;
  padding-bottom: 40px;

  .heading {
    margin-top: 40px;
    font-size: 40px;
    font-weight: 500;
    line-height: 1.4;
    text-align: justify;
    @include tablet {
      font-size: 30px;
    }
    @include laptop-lg {
      font-size: 36px;
    }

    span {
      color: getColor(primary);
    }
  }
  h2 {
    color: getColor(primary);
    font-weight: 500;
    margin-top: 30px;
    font-size: 40px;
    @include tablet {
      font-size: 30px;
      display: flex;
      justify-content: start;
    }
    @include laptop-lg {
      margin-top: 20px;
      font-size: 30px;
    }
  }
  .desc {
    color: #80848a;
    font-size: 30px;
    font-weight: 300;
    margin-top: 10px;
    transition: all 0.4s linear;
    @include tablet {
      font-size: 20px;
    }
    @include laptop-lg {
      font-size: 26px;
    }
  }
  .read-more {
    padding-left: 50px;
    padding-right: 50px;
    width: auto;
    @include mobile {
      width: 100%;
    }
  }
  .image {
    @include mobile {
      display: none;
    }
  }
  .v-img {
    @include laptop-lg {
      margin-top: 0;
    }
  }
}
