.client-reviewers {
  position: relative;
  &__carousel-item {
    height: 395px;
    border: 1px solid getColor(primary);
    border-bottom-color: transparent;
    position: relative;
    padding-inline: 30px;
    @include mobile {
      padding-inline: 0;
    }
    &::after {
      content: "";
      position: absolute;
      background-color: getColor(white);
      border-top: 1px solid getColor(primary);
      width: 100%;
      left: 0;
      right: 0;
      bottom: -124px;
      height: 242px;
      border-top-right-radius: 50%;
      border-top-left-radius: 50%;
      z-index: 1;
      @include mobile {
        display: none;
      }
    }
    &__avatar {
      padding: 5px;
      background-color: getColor(white);
      height: 180px;
      width: 180px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      overflow: hidden;
      box-sizing: border-box;
      filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
      @include mobile {
        height: 150px;
        width: 150px;
      }

      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
  }

  .carousel__slide {
    padding: 10px;
  }
  .carousel__viewport {
    overflow-y: visible !important;
    overflow-x: clip !important;
  }
  .carousel__pagination {
    position: relative;
    z-index: 2;
  }

  .v-list {
    transform: translateY(-90px);
    overflow-x: hidden;
  }
  .navigation {
    margin-bottom: 100px;
  }

  &__description {
    color: getColor(light-gray-5);
    font-size: 20px;
    text-align: justify;
    line-height: 32px;
    margin-top: -90px;
    padding-inline: 20px;

    @include mobile {
      margin-top: -70px;
    }
  }
  .client-reviewers__carousel-item {
    @include mobile {
      border-radius: 10px;
    }
    .v-list {
      @include mobile {
        flex-direction: column;
        align-items: center;
      }
    }
    &__heading {
      padding-top: 100px;
      @include mobile {
        padding-top: 10px;
      }
    }
  }

  .carousel__slide.carousel__slide--visible.carousel__slide--active {
    .client-reviewers__carousel-item {
      background: linear-gradient(111.54deg, #67bd23 4%, rgba(108, 203, 34, 0.68) 95.87%) !important;
      border: none !important;
      & * {
        color: getColor(white) !important;
        opacity: 1;
      }
    }
  }
  .carousel__pagination-button::after {
    display: block;
    content: "";
    border-radius: var(--vc-pgn-border-radius);
    /* background-color: var(--vc-pgn-background-color); */
    width: 12px !important;
    height: 12px !important;
    border-radius: 50% !important;
    background: getColor(white) !important;
    border: 1px solid getColor(primary);
  }
  .carousel__pagination-button--active::after {
    background-color: getColor(primary) !important;
  }
  .carousel__pagination-button {
    padding: 1px;
  }
  .carousel__slide.carousel__slide--visible.carousel__slide--active {
    @include mobile {
      width: 100% !important;
    }
  }
}
