.common-questions {
  margin-top: 30px;
  .v-expansion-panels {
    margin-top: 60px;
  }
  .v-expansion-panel-title {
    color: getColor(primary);
    background-color: #fff;
  }
  .v-expansion-panel__shadow {
    box-shadow: none !important;
  }
  button.v-expansion-panel-title {
    font-size: 24px;
    font-weight: 500;
  }
  .v-expansion-panel-title.v-expansion-panel-title--active {
    background-color: getColor(light-gray);
    color: getColor(primary);
  }
  .v-expansion-panel-title__overlay {
    // background-color: getColor(light-gray);
  }
  .v-expansion-panel-text__wrapper {
    padding: 11px 30px 33px 55px;
    font-weight: 400 !important;
  }
  .v-expansion-panel-text {
    font-weight: 400 !important;
    font-size: 24px;
    color: #1c273399;
  }
  .v-expansion-panel {
    margin-bottom: 16px;
  }
  .v-img {
    @include mobile {
      display: none;
    }
    @include laptop {
      display: none;
    }
  }
}
