.contact-info {
  height: 100%;
  .v-card {
    height: 100%;
  }
  .v-list-item {
    margin-bottom: 30px;
  }
  .v-list-item-title {
    font-weight: 500;
    font-size: 24px;
  }
  .v-list-item__content {
    display: flex;
    gap: 20px;
  }
  .v-list-item-subtitle {
    font-size: 20px;
    color: getColor(gray);
    overflow: visible;
    -webkit-line-clamp: 3 !important;
  }
  .list-content {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
  }
}
