.footer {
  margin-top: 100px;
  padding-top: 30px !important;
  padding-bottom: 10px !important;
  position: relative;
  z-index: 3;
  .logo-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    .logo {
      flex-grow: 0;
      margin-left: 10px;
    }
    h6 {
      font-size: 20px;
    }
  }
  .desc {
    color: getColor(gray);
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;
    margin-bottom: 20px;
    width: 70%;
    @include mobile {
      width: 100%;
    }
  }
  .email {
    h6 {
      font-size: 20px;
      margin-bottom: 12px;
    }
    .send-email {
      display: flex;
      align-items: center;
      .input {
        width: 50%;
        flex-grow: 0;
        margin-left: 12px;
      }
      .button {
        padding-left: 25px;
        padding-right: 25px;
      }
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    height: 100%;
    li {
      flex-basis: 20%;
      color: getColor(gray);
      display: flex;
      align-items: center;
      @include mobile {
        flex-basis: 16%;
      }
    }
    li.first {
      @include mobile {
        margin-top: 20px;
      }
    }
    li:not(.first) {
      flex-basis: 15%;
    }
  }
  .icons {
    width: 120px;

    justify-content: space-between;
  }
  .download-app {
    display: flex;
    .v-img {
      margin-left: 3px;
    }
  }
  .contact-us {
    margin-top: 20px;
    font-size: 10px;
    color: getColor(grey);
    .contact-tools {
      display: flex;
      gap: 4px;
      margin-bottom: 20px;
    }
  }
  h6 {
    font-size: 20px;
  }
  .follow {
    @include mobile {
      margin-top: 30px;
    }
  }
  .sub {
    display: flex;
    justify-content: space-between;
    flex: 1;
    align-items: center;
    height: 26px;
    h6 {
      font-size: 16px;
    }
    span {
      color: getColor(primary);
    }
  }
}
.all-right {
  h6 {
    font-size: 16px;
    color: white;
    span {
      color: getColor(primary);
    }
  }
}
