.hero-section {
  position: relative;
  .v-window {
    border-radius: 16px;
    max-width: 95%;
    position: relative;
    margin: auto;
    .v-btn__content {
      i {
        color: getColor(white);
      }
    }
    .v-btn--active {
      i {
        width: 24px;
        &::before {
          content: "";
          width: 100%;
          height: 8px;
          display: block;
          background-color: getColor(orange);
          border-radius: 7px;
        }
      }
      .v-btn__overlay {
        background: none !important;
      }
    }
  }
  .slide-button-group {
    position: absolute;
    z-index: 2;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    // @include mobile {
    //   display: none !important;
    // }

    .slide-button {
      padding: 8px !important;
      background-color: getColor(white) !important;
      border-radius: 50%;
      cursor: pointer;
    }
  }
}
.slide-title {
  font-size: 48px;
  word-spacing: 15px;

  @include tablet {
    font-size: 35px;
    word-spacing: 5px !important;
  }
}
