.latest-exhibitions {
  &__card {
    position: relative;
    height: 404px;
    width: 100%;

    border-radius: 20px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    object-fit: fill;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding-bottom: 50px;
    align-items: center;
    color: getColor(white);
    &::after {
      content: "";
      z-index: 1;
      background: linear-gradient(180deg, rgba(17, 47, 56, 0.0672) 51.15%, rgba(17, 47, 56, 0.84) 100%);
      bottom: 0;
      width: 100%;
      height: 100%;
      position: absolute;
    }
    &__item {
      position: relative;
      z-index: 2;
    }
    &__title {
      font-size: 32px;
      margin-bottom: 10px;
    }
    &__subtitle {
      font-size: 18px;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }
  }
}
