.navbar {
  .v-list-item {
    position: relative;
    font-size: 20px;
    padding: 0 !important;
    color: getColor(text-color);
  }
  .v-list-item__append {
    .v-icon {
      margin: 0 !important;
    }
  }
  .active-route {
    background-color: transparent !important;
    color: getColor(primary);
    &::after {
      content: "";
      transition: all 0.3s linear;
      display: block;
      width: 60%;
      height: 5px;
      background-color: getColor(primary);
      position: absolute;
      bottom: 0;
    }
    &:hover::after {
      width: 100%;
    }
  }
  .v-list-item__overlay {
    background: none;
  }
}
