.product-dialog {
  .heading {
    font-size: 28px;
    color: #1c2733;
    margin-top: 12px;
  }
  h2 {
    margin-top: 20px;
  }
  .gallery {
    position: relative;
    .slide-button__prev {
      position: absolute;
      top: 50%;
      transform: translate(50%, -50%);
      padding: 8px !important;
      background-color: #fff !important;
      border-radius: 50%;
      cursor: pointer;
      z-index: 999999;
      right: 0;
    }
    .slide-button__next {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      padding: 8px !important;
      background-color: #fff !important;
      border-radius: 50%;
      cursor: pointer;
      z-index: 999999;
    }
  }
  .desc {
    margin-top: 12px;
    line-height: 1.8;
  }
  .price-discount {
    position: relative;
  }

  .price-discount::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: getColor(
      gray
    ); /* You can set the desired line color here */
    transform: translateY(-50%) rotate(-12deg);
    z-index: -1;
  }

  .rotate-dash {
    position: relative;
    z-index: 1;
  }
}
