.card-container {
  width: 100%;
  .active {
    background-color: getColor(primary) !important;
    color: getColor(white);
    color: getColor(white);
    .v-card-title {
      color: getColor(white);
      .v-divider {
        &::after {
          content: "";
          background-color: getColor(orange);
        }
      }
    }
  }
  .v-card-title {
    color: getColor(primary);
    .v-divider {
      position: relative;
      &::after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 63px;
        height: 3px;
        background-color: getColor(primary);
      }
    }
  }
  .v-list-item__prepend {
    width: 30px;
    .v-icon {
      opacity: 1 !important;
    }
  }
}
