.viewer-card {
  .v-card {
    box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2);
    position: relative;
  }
  &__img {
    width: 124px;
    height: 124px;
    background: getColor(light-gray-2);
    border: 1px solid getColor(gray);
    border-radius: 10px;
    overflow: hidden;
    object-fit: cover;
    @include flexCenterAlignment;
  }
  &__flag {
    position: absolute;
    top: 0;
    z-index: 2;
    width: 83px;
    height: 39px;
    img {
      width: 100%;
      height: 100%;
    }
  }
}

.owner-card {
  &__img {
    width: 180px;
    height: 180px;
    border-radius: 50% !important;
    background-color: getColor(light-gray-2);
    border: 4px solid getColor(white);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
    transform: translateY(-20px);

    @include flexCenterAlignment;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 50% !important;
    }
  }
  .v-card-title {
    transform: translateY(-50px);
  }
  .v-card-text {
    margin-top: -60px;
  }
  .owner-description {
    @include desktop {
      max-height: 200px;
      overflow-y: auto;
    }
  }
}

.social-card {
  .social-item {
    border: 1px solid getColor(primary);
    border-radius: 10px;
  }
}

:lang(ar) {
  .viewer-card__flag {
    left: 0;
  }
}
:lang(en) {
  .viewer-card__flag {
    left: initial;
    right: 0;
    transform: rotate(-180deg);
  }
}
