<template>
  <main class="subscription-packages">
    <page-title>
      <div>
        <h1 class="text-center size-40">
          {{ $t("subscription") }}
        </h1>
        <breadcrumbs :items="items"></breadcrumbs>
      </div>
    </page-title>
    <v-container>
      <v-row>
        <v-col cols="12">
          <wrapper-card class="wrapper-card pa-2 pa-lg-10">
            <h1 class="text-center size-30 font-weight-medium">
              <span class="d-inline-block">{{ $t("types_of") }}</span>
              <span class="text-primary px-2 d-inline-block">{{
                $t("subsciptions")
              }}</span>
              <span>{{ $t("in_the_system") }}</span>
            </h1>
            <v-card-text class="mt-10">
              <v-row>
                <v-col
                  class="d-flex justify-center"
                  cols="12"
                  lg="4"
                  v-for="(slide, index) in 3"
                  :key="slide"
                >
                  <PackageCard :is_active="index == 1" />
                </v-col>
              </v-row>
            </v-card-text>
          </wrapper-card>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { onMounted } from "vue";
import { ref } from "vue";
import { defineAsyncComponent } from "vue";
import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";
const PackageCard = defineAsyncComponent(
  () => import("@/components/Cards/PackageCard.vue")
);
const { t } = useI18n();
const route = useRoute();

const listPackages = ref<any[]>([]);
const items = [
  {
    title: t("home"),
    disabled: false,
    to: "/",
    exact: true,
  },
  {
    title: t("subscribe_as_exhibitor"),
    disabled: false,
    to: "/subscription",
    exact: true,
  },

  {
    title: t("subsription_and_payment"),
    disabled: true,
    to: route.fullPath,
    exact: true,
  },
];

const fetchListPackages = async () => {
  const res = await $http.get<{ data: { data: any } }>({
    url: `/list_packages`,
  });
  const { data } = res.data;
  console.log(data);
};

onMounted(() => {
  fetchListPackages();
});
</script>

<style lang="scss" scoped>
.subscription-packages {
  .wrapper-card {
    margin-top: 30px;
  }
}
</style>
