<template>
  <section class="hero-section offer-slider">
    <div class="d-flex justify-space-between align-center slide-button-group">
      <div class="slide-button slide-button__prev" @click="onClick('prev')">
        <v-btn size="x-large" icon variant="elevated" flat color="light-gray">
          <v-icon color="primary">mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <div class="slide-button slide-button__next" @click="onClick('next')">
        <v-btn size="x-large" icon variant="elevated" flat color="light-gray">
          <v-icon color="primary">mdi-chevron-left</v-icon>
        </v-btn>
      </div>
    </div>
    <v-carousel
      v-model="currentSlide"
      height="497px"
      hide-delimiter-background
      :show-arrows="false"
    >
      <v-carousel-item
        v-for="(sliderItem, i) in sliders"
        :key="i"
        :src="sliderItem.img"
        :lazy-src="sliderItem.img"
        :value="i"
        height="100%"
      >
      </v-carousel-item>
    </v-carousel>
  </section>
</template>
<script setup lang="ts">
import { Slider } from "@/store/app";
import { ref } from "vue";
import { defineComponent } from "vue";

defineComponent({
  name: "OfferSlider",
});

const props = defineProps<{ sliders: Slider[] | any }>();

const currentSlide = ref<number>(0);

const onClick = (dir: "prev" | "next") => {
  if (dir == "next") {
    currentSlide.value++;

    if (currentSlide.value == props.sliders.length) {
      currentSlide.value = 0;
    }
  } else {
    if (currentSlide.value == 0) {
      currentSlide.value = props.sliders.length;
    }
    currentSlide.value--;
  }
};
</script>

<style lang="scss">
.offer-slider {
  .v-carousel__controls {
    @include desktop {
      padding-inline-end: 300px !important;
    }
    padding-bottom: 50px !important;
  }
  .v-btn--active {
    i {
      &::before {
        content: "";
        background-color: getColor(white) !important;
      }
    }
  }
}
</style>
