<template>
  <v-card class="category-card pa-2 d-flex flex-column justify-center align-center" flat density="compact"
    :variant="!isSelected ? 'plain' : 'elevated'" height="172" :ripple="false">
    <div class="category-card__img-wrapper" :class="isSelected && 'active-category'">
      <img :src="item.img" />
    </div>
    <v-card-title class="size-16 text-center" :class="isSelected ? 'text-primary' : 'text-gray'">
      {{ item.name }}
    </v-card-title>
  </v-card>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";

interface CategoryItem {
  id: number;
  name: string;
  img: string;
}

defineComponent({
  name: "CategoryCard",
});
withDefaults(defineProps<{ isSelected: boolean; item: CategoryItem }>(), {
  isSelected: false,
});
</script>

<style lang="scss">
.category-card {
  cursor: pointer;

  &__img-wrapper {
    height: 130px;
    width: 130px;
    border-radius: 50%;
    background-color: getColor(light-gray-3);
    transition: all 0.3s ease;
    overflow: hidden;
    // padding: 15px !important;
    @include flexCenterAlignment;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .active-category {
    border: 1px solid getColor(primary);

    box-shadow: 4px 40px 16px rgba(0, 0, 0, 0.01),
      2px 22px 13px rgba(0, 0, 0, 0.03), 1px 10px 10px rgba(0, 0, 0, 0.04),
      0px 2px 5px rgba(0, 0, 0, 0.05), 0px 0px 0px rgba(0, 0, 0, 0.05);
  }
}
</style>
