<template>
  <section class="viewer-card owner-card">
    <v-card style="overflow: visible" height="380" class="px-5">
      <v-card-title style="overflow: visible">
        <v-row>
          <v-col cols="12" class="d-flex align-center">
            <div class="owner-card__img">
              <img :src="presenter?.company_img" />
            </div>
            <div class="viewer-card__info">
              <v-list class="bg-transparent">
                <v-list-item>
                  <v-list-item-title class="text-primary font-weight-bold size-20">
                    {{ presenter?.name }}
                  </v-list-item-title>
                  <v-list-item-subtitle class="text-secondary font-weight-medium mt-2 size-18">
                    {{ presenter?.country?.name }}
                  </v-list-item-subtitle>
                </v-list-item>
              </v-list>
            </div>
          </v-col>
        </v-row>
      </v-card-title>
      <v-card-text class="text-secondary py-5 owner-description font-weight-medium size-20"
        style="line-height: 30px; max-height: 200px; overflow-y: auto">
        {{ presenter?.bio }}
      </v-card-text>
    </v-card>
  </section>
</template>

<script setup lang="ts">
import { Presenter } from "@/views/Presenters/model";
import { defineComponent } from "vue";

defineComponent({
  name: "ExhibitionsOwnerCard",
});
defineProps<{ presenter: Presenter }>();
</script>

<style lang="scss">
.owner-card {
  .v-list-item__content {
    overflow: visible !important;
  }
}
</style>
