<template>
  <v-card class="card-wrapper" v-bind="$attrs">
    <slot />
  </v-card>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";

defineComponent({
  name: "CardWrapper",
  inheritAttrs: false,
});
</script>

<style lang="scss" scoped>
.card-wrapper {
  box-shadow: 0px 0px 40px 9px rgba(54, 82, 52, 0.11);
  border-radius: 10px;
  min-height: 200px;
}
</style>
