<template>
  <div class="card-container" v-bind="$attrs">
    <wrapper-card max-height="608" :class="{ active: is_active }">
      <v-card-title
        class="text-center px-0 d-flex align-center justify-center"
        style="height: 70px"
      >
        <div class="d-block w-100">
          <h2 class="pt-2">
            {{ $t("subscription_name") }}
          </h2>
          <v-divider
            color="light-gray"
            class="mt-2 border-opacity-100"
          ></v-divider>
        </div>
      </v-card-title>
      <h3 class="mt-6 mb-10 text-center my-4">
        <span class="size-40" :class="priceColor"> 500 ر.س </span>
        <sub class="size-20" :class="subPriceColor">/{{ $t("weakly") }}</sub>
      </h3>
      <div class="text-center">
        <v-btn
          flat
          :color="is_active ? 'white' : 'primary'"
          :variant="btnVariant"
          class="radius-24"
          height="48"
          width="243"
        >
          <span class="text-primary size-18"> اشتراك </span>
        </v-btn>
      </div>

      <v-card-text class="px-0 mx-0 mt-4">
        <h3 class="px-5 size-24 secondary-text">
          {{ $t("subscription_feature") }}
        </h3>
        <v-divider class="my-2"></v-divider>
        <v-list class="bg-transparent">
          <v-list-item class="d-flex">
            <template #prepend style="width: 20px">
              <v-icon :color="is_active ? 'orange' : 'primary'"
                >mdi-check</v-icon
              >
            </template>
            <v-list-item-title
              :class="is_active ? 'text-white' : 'text-gray'"
              class="font-weight-medium mt-1"
              >عرض ميزة رقم اثنين</v-list-item-title
            >
          </v-list-item>
        </v-list>
      </v-card-text>
    </wrapper-card>
  </div>
</template>

<script setup lang="ts">
import { computed } from "vue";
import { defineComponent } from "vue";
const props = withDefaults(defineProps<{ is_active: boolean }>(), {
  is_active: false,
});

defineComponent({
  name: "PackageCard",
  inheritAttrs: false,
});
const btnVariant = computed(() => {
  if (props.is_active) {
    return "elevated";
  } else {
    return "outlined";
  }
});
const priceColor = computed(() => {
  if (props.is_active) {
    return "text-white";
  } else {
    return "text-secondary";
  }
});
const subPriceColor = computed(() => {
  if (props.is_active) {
    return "text-orange";
  } else {
    return "text-gray";
  }
});
</script>

<style lang="scss" scoped>
.v-list-item .v-list-item__content {
  display: flex !important;
}
</style>
