<template>
  <section class="viewer-card">
    <v-card min-height="188" class="pa-5 pa-lg-7 d-flex align-center">
      <div class="viewer-card__flag">
        <img :src="presenter?.country?.flag" alt="flag" />
      </div>
      <v-card-text>
        <v-row>
          <v-col cols="12" lg="9" sm="8" md="7">
            <v-row>
              <v-col cols="12" class="d-flex align-center">
                <div class="viewer-card__img">
                  <v-img :src="presenter?.company_img" cover height="100%"></v-img>
                </div>
                <div class="viewer-card__info">
                  <v-list>
                    <v-list-item>
                      <v-list-item-title class="text-secondary font-weight-bold size-24">
                        {{ presenter?.name }}
                      </v-list-item-title>
                    </v-list-item>
                    <!-- <v-list-item class="d-flex gap-5">
                      <template v-slot:prepend>
                        <v-icon
                          color="secondary"
                          class="ma-0"
                          icon="mdi-office-building"
                        ></v-icon>
                      </template>
                      <v-list-item-title class="text-primary">
                        اسم المعرض هنا
                      </v-list-item-title>
                    </v-list-item> -->
                    <v-list-item class="d-flex gap-5">
                      <template v-slot:prepend>
                        <v-icon color="secondary" class="ma-0" icon="mdi-map-marker-radius"></v-icon>
                      </template>
                      <v-list-item-title class="text-gray">
                        {{ presenter?.country?.name }}
                      </v-list-item-title>
                    </v-list-item>
                  </v-list>
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col cols="12" lg="3" sm="4" md="5" class="align-self-center" v-if="!hideAction">
            <v-btn :to="`${$route.fullPath}/details/${presenter?.id}`" variant="outlined" color="primary" block rounded
              height="48">
              {{ $t("exhibitor_date") }}</v-btn>
          </v-col>
        </v-row>
      </v-card-text>
    </v-card>
  </section>
</template>

<script setup lang="ts">
import { Presenter } from "@/views/Presenters/model";
import { defineComponent } from "vue";

defineComponent({
  name: "PresenterCard",
});

const { hideAction } = withDefaults(
  defineProps<{ hideAction: boolean; presenter: Presenter | any }>(),
  {
    hideAction: false,
  }
);
</script>
