<template>
  <v-card class="product-card shadow pb-5" flat density="compact" min-height="535" style="height: fit-content;">
    <div class="product-card__img-wrapper">
      <img :src="product.cover_img" />
      <div class="product-card__status d-flex align-center justify-center flex-column text-white size-14">
        <span> {{ product.discount }}% </span>
        <span>خصم</span>
      </div>
    </div>
    <v-card-text class="d-flex flex-column gap-20 px-5">
      <div class="d-flex flex-column gap-10">
        <span class="text-primary">{{ $t("product_name") }}</span>
        <p class="text-secondary size-18">{{ product.name }}</p>
      </div>
      <div class="d-flex flex-column gap-10">
        <span class="text-primary">{{ $t("product_details") }}</span>
        <p class="text-secondary size-18 line-height-30">
          {{ truncatedText }}
          <span v-if="showReadMore">
            <span>...</span>
            <a class="text-primary " style="cursor: pointer;"
              @click="maxLength = product.bio.length">{{ $t('read_more') }}</a>
          </span>
        </p>
      </div>
      <div class="d-flex align-center gap-10">
        <strong class="text-primary size-20">{{ product.price }} ر.س </strong>
        <span class="price-discount size-18 text-gray">
          <span class="rotate-dash">{{ product.price_after }}</span>ر.س
        </span>
      </div>
    </v-card-text>
    <v-card-actions class="px-5">
      <v-btn variant="outlined" color="primary" block rounded height="48" class="size-20" @click="openDialog">
        {{ $t("show_product_details") }}
      </v-btn>
    </v-card-actions>
    <ProductDialog v-model:dialog="dialog" :productDetails="productDetails" :loading="loading" />
  </v-card>
</template>

<script lang="ts" setup>
defineComponent({
  name: "ProductCard",
});
import { IProductDetail } from "./model";
import { defineAsyncComponent, ref, defineComponent } from "vue";
import { Product } from "@/store/app";
import { $http } from "@/api";
import { computed } from "vue";
const ProductDialog = defineAsyncComponent(
  () => import("@/components/ProductDialog/index.vue")
);
const dialog = ref<boolean>(false);
const loading = ref<boolean>(true);
const productDetails = ref<IProductDetail | any>();
const maxLength = ref<number>(210)
const props = defineProps<{ product: Product }>();

const getProductDetails = async () => {
  const res = await $http.get<{ data: { data: any } }>({
    url: `/product_details/${props.product.id}`,
  });
  const { data } = res.data;
  productDetails.value = data;
  loading.value = false;
};

const openDialog = () => {
  dialog.value = !dialog.value;
  loading.value = true;
  getProductDetails();
};

const showReadMore = computed(() => props.product.bio.length > maxLength.value)
const truncatedText = computed(() => {
  if (showReadMore) {
    return `${props.product.bio.substring(0, maxLength.value)}`
  } else {
    return props.product.bio
  }
})
</script>

<style scoped lang="scss">
.product-card {
  border-radius: 10px;
  overflow: unset;
  position: relative;

  &__img-wrapper {
    height: 300px;
    background-color: getColor(light-gray);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    align-items: center;

    img {
      object-fit: fill;
      height: 100%;
      width: 100%;
    }
  }

  .price-discount {
    position: relative;
  }

  .price-discount::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: getColor(gray);
    transform: translateY(-50%) rotate(-12deg);
    z-index: -1;
  }

  .rotate-dash {
    position: relative;
    z-index: 1;
  }

  &__status {
    position: absolute;
    background-color: red;
    width: 51px;
    height: 53px;
    border-radius: 0px 16px 0px 16px !important;
    top: 0;
  }
}

:lang(ar) {
  .product-card__status {
    left: 0;
  }
}

:lang(en) {
  .product-card__status {
    left: inherit;
    right: 0;
  }
}
</style>
