<template>
  <v-card height="380" class="py-5 shadow social-card">
    <v-card-title class="size-28 text-secondary">
      {{ $t("to_contact_to_bidder") }}
    </v-card-title>
    <v-card-text class="text-secondary pb-0">
      <v-list color="transparent">
        <v-list-item class="d-flex gap-5">
          <template v-slot:prepend>
            <v-icon
              color="primary"
              style="opacity: 1"
              class="ma-0"
              icon="mdi-phone"
            ></v-icon>
          </template>
          <v-list-item-title class="text-secondary size-18">
            <a :href="`tel:${social?.phone}`" dir="ltr">{{ social?.phone }}</a>
          </v-list-item-title>
        </v-list-item>
        <v-list-item class="d-flex gap-10">
          <template v-slot:prepend>
            <v-icon
              color="primary"
              style="opacity: 1"
              class="ma-0"
              icon="mdi-email"
            ></v-icon>
          </template>
          <v-list-item-title class="text-secondary size-18">
            <a :href="`mailto:${social?.email}`">{{}}</a>
          </v-list-item-title>
        </v-list-item>
        <v-list-item class="px-0">
          <v-list nav class="d-flex gap-10">
            <v-list-item
              width="48"
              height="48"
              v-for="socialItem in socials"
              :key="socialItem"
              class="social-item"
              :href="social[socialItem]"
              target="_blank"
            >
              <v-img height="30" :src="importImage(socialItem)" alt="social" />
            </v-list-item>
          </v-list>
        </v-list-item>
      </v-list>
    </v-card-text>
    <h2 class="text-secondary size-28 px-5">
      {{ $t("contact_whatsapp") }}
    </h2>
    <v-card-actions class="px-5 pb-10">
      <v-btn
        :href="`https://wa.me/${social?.whatsAPP}`"
        block
        color="primary"
        variant="elevated"
        rounded
        height="48"
      >
        <v-icon class="mx-2" size="x-large"> mdi-whatsapp</v-icon>
        <span dir="ltr" class="size-20 mt-1"> {{ social?.whatsAPP }}</span>
      </v-btn>
    </v-card-actions>
  </v-card>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";
import instagram from "@/assets/images/instagram.svg";
import twitter from "@/assets/images/twitter.svg";
import facebook from "@/assets/images/facebook.svg";
import { Social } from "@/views/Presenters/PresenterDetails/model";

defineComponent({
  name: "SocialCard",
});

defineProps<{
  social: Social;
}>();
const socials = ["instagram", "twitter", "facebook"];
const importImage = (imageName: string) => {
  switch (imageName) {
    case "instagram":
      return instagram;
    case "twitter":
      return twitter;
    case "facebook":
      return facebook;
    default:
      return "";
  }
};
</script>
