<template>
  <v-card :to="`/presenters/${storeItem.id}`" class="latest-exhibitions__card"
    :style="{ background: 'url(' + storeItem.image + ')' }">
    <v-card-item class="latest-exhibitions__card__item">
      <v-card-title class="latest-exhibitions__card__title text-center">
        {{ storeItem.name }}
      </v-card-title>
      <v-card-subtitle class="text-center text-white latest-exhibitions__card__subtitle d-flex align-center"
        style="opacity: 1">
        <img height="24" width="24" :src="storeItem.country?.flag" class="rounded-circle" />
        <span>
          {{ storeItem?.country?.name }}
        </span>
      </v-card-subtitle>
    </v-card-item>
  </v-card>
</template>

<script setup lang="ts">
import { defineComponent } from "vue";
import { SectionItem } from "./model";

defineComponent({
  name: "ExhibitionsCard",
});

const { storeItem } = defineProps<{ storeItem: SectionItem }>();
</script>
