<template>
  <section class="latest-exhibitions">
    <section-title class="mt-12 mb-6">
      <!-- {{ $t("section") }}  -->
      {{ sectionName }}
    </section-title>
    <v-container>
      <template v-if="sections && sections.length > 0">
        <v-row>
          <v-col
            v-for="(item, index) in sections"
            :key="index"
            cols="12"
            :lg="index == 0 ? 8 : 4"
          >
            <SectionCard :storeItem="item" />
          </v-col>
        </v-row>

        <v-row
          v-if="pagination && pagination?.last_page > pagination?.current_page"
        >
          <v-col cols="12" md="4" lg="2" class="mx-auto">
            <v-btn
              :loading="loadMore"
              @click="$emit('onPaginate')"
              variant="outlined"
              color="primary"
              block
              rounded
              height="48"
            >
              {{ $t("see_more") }}</v-btn
            >
          </v-col>
        </v-row>
      </template>
      <v-col cols="12" v-else class="text-center">
        <v-img height="100" src="@/assets/images/no_result.png"></v-img>
        <p>{{ $t("no_result") }}</p>
      </v-col>
    </v-container>
  </section>
</template>

<script setup lang="ts">
import { defineAsyncComponent } from "vue";
import { defineComponent } from "vue";
import { SectionItem } from "./model";
import { Pagination } from "@/views/LatestStores/model";

defineComponent({
  name: "Sections",
});

const { sections, pagination, loadMore } = defineProps<{
  sections: SectionItem[];
  sectionName: string;
  pagination: Pagination;
  loadMore: boolean;
}>();

const SectionCard = defineAsyncComponent(() => import("./Card.vue"));
</script>
