<template>
  <v-skeleton-loader
    width="100%"
    v-if="loading"
    v-bind="$attrs"
    :type="type"
  ></v-skeleton-loader>
  <slot v-else />
</template>

<script setup lang="ts">
withDefaults(defineProps<{ loading: boolean; type: string }>(), {
  loading: true,
  type: "card",
});
</script>

<style lang="scss">
.v-skeleton-loader__bone.v-skeleton-loader__card {
  width: 100%;
}
</style>
