<template>
  <div style="min-height: 100vh;">
    <page-title>
      <div>
        <h1 class="text-center" style="font-size: 40px">
          {{ $t("contact_us") }}
        </h1>
      </div>
    </page-title>
    <v-container class="px-lg-0">
      <v-row>
        <v-col lg="7" md="6" cols="12">
          <ContactUsForm />
        </v-col>
        <v-col lg="5" md="6" cols="12">
          <ContactUsInfo />
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script setup lang="ts">
import { defineAsyncComponent } from "vue";

const ContactUsForm = defineAsyncComponent(
  () => import("@/components/ContactUsCard/ContactUsForm.vue")
);
const ContactUsInfo = defineAsyncComponent(
  () => import("@/components/ContactUsCard/ContactUsInfo.vue")
);
</script>

<style lang="scss" scoped></style>
