<template>
  <v-container style="min-height: 100vh;">
    <HeroSlider />
    <LatestStores>
      <v-btn to="/latest-stores" variant="outlined" color="primary" block rounded height="48">
        {{ $t("see_more") }}</v-btn>
    </LatestStores>
    <AboutUs />
    <ClientReviewers />
  </v-container>
</template>

<script setup lang="ts">
import { useAppStore } from "@/store/app";
import { onMounted } from "vue";
import { defineAsyncComponent } from "vue";
const GoogleMap = defineAsyncComponent(
  () => import("@/components/GoogleMap/index.vue")
);

const HeroSlider = defineAsyncComponent(
  () => import("@/components/Home/HeroSection/index.vue")
);
const LatestStores = defineAsyncComponent(
  () => import("@/components/Home/LatestStores/index.vue")
);
const ClientReviewers = defineAsyncComponent(
  () => import("@/components/Home/ClientReviewers/index.vue")
);
const AboutUs = defineAsyncComponent(
  () => import("@/components/Home/AboutUs/index.vue")
);

const appStore = useAppStore();

onMounted(() => {
  appStore.fetchHomeData();
});
</script>
