<template>
  <main class="exhibitions-page mt-10" style="min-height: 100vh;">
    <page-title>
      <h1 class="text-center" style="font-size: 40px">
        {{ $t("latest_exhibitions") }}
      </h1>
    </page-title>
    <v-container class="mt-5">
      <LatestStores v-if="stores.length > 0" :items="stores" :loading-data="loadingData" :from-store="false">
        <v-btn v-if="pagination && pagination?.last_page > pagination?.current_page" :loading="loadMore"
          @click="handlePagination" variant="outlined" color="primary" block rounded height="48">
          {{ $t("see_more") }}</v-btn>
      </LatestStores>
      <v-col cols="12" v-else class="text-center">
        <v-img height="100" src="@/assets/images/no_result.png"></v-img>
        <p>{{ $t("no_result") }}</p>
      </v-col>
    </v-container>
  </main>
</template>

<script setup lang="ts">
import { $http } from "@/api";
import { onMounted } from "vue";
import { defineAsyncComponent } from "vue";
import { ListStore, Pagination } from "./model";
import { ref } from "vue";
const LatestStores = defineAsyncComponent(
  () => import("@/components/Home/LatestStores/index.vue")
);

const stores = ref<ListStore[]>([]);
const pagination = ref<Pagination>();
const loadingData = ref<boolean>(true);
const loadMore = ref<boolean>(false);

const fetchListStores = async (page: number = 1) => {
  const res = await $http.get<{
    data: { data: ListStore[]; meta: Pagination };
  }>({
    url: "loadStores",
    query: { page },
  });
  const { data, meta } = res.data;
  pagination.value = meta;
  stores.value = [...stores.value, ...data];
  loadingData.value = false;
  loadMore.value = false;
};

const handlePagination = () => {
  loadMore.value = true;
  pagination.value?.current_page &&
    fetchListStores(pagination.value?.current_page + 1);
};

onMounted(() => {
  fetchListStores();
});
</script>
