<template>
  <v-container>
    <v-row>
      <v-col cols="12">
        <div
          class="subscription-message d-flex align-center justify-center flex-column text-white"
        >
          <v-col
            cols="12"
            sm="10"
            md="10"
            lg="7"
            class="justify-center d-flex flex-column align-center align-self-center"
          >
            <h1 class="text-center slide-title">
              <div>
                {{ $t("welcome_in") }}
                <span class="text-orange">{{ $t("saf_platform") }}</span>
              </div>
            </h1>
            <h2 class="text-center size-25">
              {{ $t("email_has_been_sent") }}
            </h2>
          </v-col>
        </div>
      </v-col>
    </v-row>
  </v-container>
</template>

<script setup lang="ts"></script>

<style lang="scss" scoped>
.subscription-message {
  margin-top: 100px;
  background-color: getColor(primary);
  height: 489px;
  border-radius: 10px;
}
</style>
