<template>
  <section class="latest-exhibitions">
    <section-title class="mt-12 mb-6">
      {{ $t("latest_exhibitions") }}
    </section-title>
    <v-container>
      <v-row>
        <v-col
          v-for="(item, index) in ((loading
                      ? 5
                      :data) as any)"
          :key="index"
          cols="12"
          :lg="index == 0 ? 8 : 4"
        >
          <skeleton-loader :loading="loading">
            <StoreCard :storeItem="item" />
          </skeleton-loader>
        </v-col>
      </v-row>

      <v-row>
        <v-col cols="12" md="4" lg="2" class="mx-auto">
          <slot />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script setup lang="ts" generic="T">
import { defineAsyncComponent } from "vue";
import { defineComponent } from "vue";
import { useAppStore } from "@/store/app";
import { computed } from "vue";
import { Props } from "./model";
defineComponent({
  name: "LatestStores",
});

const props = withDefaults(defineProps<Props<T>>(), {
  fromStore: true,
  loadingData: true,
});

const StoreCard = defineAsyncComponent(
  () => import("@/components/Home/LatestStores/Card.vue")
);
const appStore = useAppStore();

const loading = computed(() => {
  if (props.fromStore) {
    return appStore.loadingData;
  } else {
    return props.loadingData;
  }
});

const data = computed(() => {
  if (props.fromStore) {
    return appStore.getHomeStores;
  } else {
    return props.items;
  }
});
</script>

<style scoped></style>
