<template>
  <section class="footer">
    <v-footer color="secondary">
      <v-container>
        <v-row>
          <v-col lg="4" cols="12">
            <v-row>
              <v-col cols="12" lg="10">
                <div class="logo-container">
                  <v-img class="logo" src="@/assets/images/logo.svg" height="45px" width="45px">
                  </v-img>
                  <h6>ساف للمعارض</h6>
                </div>
                <p class="size-20 text-gray line-height-32">
                  لقد قطعنا شوطا كبيرا وجهودا مبذولة في مجالنا والان نفخر بكونا
                  واحدة من الكثير من الشركات والمؤسسات السعودية التي تنافس في
                  عالم معارض الاعمال
                </p>
                <div class="email mt-4">
                  <h6>النشره البريديه :</h6>
                  <div class="d-flex align-center gap-10">
                    <v-text-field type="email" class="input" density="comfortable" v-model="email"
                      placeholder="البريد الالكتروني" variant="outlined" hide-details color="primary"></v-text-field>
                    <v-btn :loading="loading" @click="sendNewsletter" width="100" height="48" color="primary"
                      class="button">{{ $t("send") }}</v-btn>
                  </div>
                </div>
              </v-col>
            </v-row>
          </v-col>
          <v-col lg="5" cols="12">
            <h6 class="size-20">
              {{ $t("important_links") }}
            </h6>
            <v-row style="height: 100%">
              <v-col lg="6">
                <ul>
                  <li class="first"><router-link to="/subscription">الاشتراك</router-link></li>
                  <li class="first"><router-link to="/contact-us">اتصل بنا</router-link></li>
                  <li class="first"><router-link to="/about-us">عن SAF</router-link></li>
                  <h6 class="mb-3 follow">تابعنا</h6>
                  <div class="icons d-flex justify-space-between mb-4">
                    <a :href="appStore.getContactInfo?.snapchat_link">
                      <v-img src="@/assets/images/ri_snapchat-fill.svg" max-width="16px"></v-img>
                    </a>
                    <a :href="appStore.getContactInfo?.youtube_link">
                      <v-img src="@/assets/images/basil_youtube-solid.svg" max-width="16px">
                      </v-img>
                    </a>
                    <a :href="appStore.getContactInfo?.instagram_link">
                      <v-img src="@/assets/images/basil_instagram-solid.svg" max-width="16px"></v-img>
                    </a>
                    <a :href="appStore.getContactInfo?.twitter_link">
                      <v-img src="@/assets/images/mingcute_twitter-fill.svg" max-width="16px"></v-img>
                    </a>
                    <a :href="appStore.getContactInfo?.facebook_link">
                      <v-img src="@/assets/images/ri_facebook-fill.svg" max-width="14px"></v-img>
                    </a>
                  </div>
                  <h6 class="mb-3">حمل التطبيق</h6>
                  <div class="download-app">
                    <a href="">
                      <v-img src="@/assets/images/android.svg"></v-img>
                    </a>
                    <a href="">
                      <v-img src="@/assets/images/ios.svg"></v-img>

                    </a>
                  </div>
                </ul>
              </v-col>
              <v-col lg="6">
                <ul>
                  <li><router-link to="/condition-replacement">شروط الاستبدال والاسترجاع</router-link></li>
                  <li><router-link to="/privacy-policy">سياسه الخصوصية</router-link></li>
                  <li><router-link to="/common-questions">الاسئلة الشائعه </router-link></li>
                </ul>
              </v-col>
            </v-row>
          </v-col>
          <v-col lg="3" cols="12">
            <h6 class="mb-3">تواصل معنا</h6>

            <GoogleMap :center="{ lat: 40.689247, lng: -74.044502 }" style="width: 100%; height: 150px" />
            <v-list class="bg-transparent">
              <v-list-item>
                <template #prepend style="width: 30px">
                  <v-icon color="primary"> mdi-map-marker</v-icon>
                </template>
                <v-list-item-title class="size-16 text-gray">
                  {{ appStore.getContactInfo?.address }}
                </v-list-item-title>
              </v-list-item>
              <v-list-item :href="`tel:${appStore.getContactInfo?.phone}`">
                <template #prepend>
                  <v-icon color="primary"> mdi-phone</v-icon></template>

                <v-list-item-title class="size-16 text-gray">
                  {{ appStore.getContactInfo?.phone }}
                </v-list-item-title>
              </v-list-item>
              <v-list-item :href="`mailto:${appStore.getContactInfo?.contact_email}`">
                <template #prepend>
                  <v-icon color="primary"> mdi-email</v-icon></template>

                <v-list-item-title class="size-16 text-gray">
                  {{ appStore.getContactInfo?.contact_email }}
                </v-list-item-title>
              </v-list-item>
            </v-list>
          </v-col>
        </v-row>
      </v-container>
    </v-footer>
    <v-divider color="white" :thickness="2"></v-divider>
    <v-container>
      <v-row>
        <v-col cols="12" lg="8" class="align-self-center d-flex justify-center justify-md-start">
          <h2 class="size-14 text-light-gray">
            جميع الحقوق محفظة<span class="text-primary"> لشركة ساف </span>
          </h2>
        </v-col>
        <v-col cols="12" lg="4" class="d-flex justify-center align-center justify-md-end payment-wrapper">
          <img width="100" src="@/assets/images/Badge.png" />
          <img width="100" src="@/assets/images/paypal.png" />
          <img width="100" src="@/assets/images/master.png" />
          <img width="100" src="@/assets/images/visa.png" />
        </v-col>
      </v-row>
    </v-container>
  </section>
</template>

<script lang="ts" setup>
import GoogleMap from "../GoogleMap/index.vue";
import { $http } from "@/api";
import { useAppStore } from "@/store/app";
import { onMounted } from "vue";
import { ref } from "vue";
import { defineComponent } from "vue";
defineComponent({
  name: "Footer",
});

const email = ref<string>();
const loading = ref<boolean>(false);
const appStore = useAppStore();

const sendNewsletter = async () => {
  try {
    if (email.value) {
      loading.value = true;
      await $http.post({ url: "newsletter", data: { email: email.value } });
      email.value = "";
      loading.value = false;
    }
  } catch (error) {
    loading.value = false;

  }
};

onMounted(() => {
  appStore.fetchContactInfo();
});
</script>

<style lang="scss">
.footer {
  background: rgba(28, 39, 51, 1);

  .payment-wrapper {
    img {
      &:not(:last-of-type) {
        margin-inline-end: -50px;
      }
    }
  }

  .v-list-item__prepend {
    width: 35px !important;
  }
}
</style>
