<!-- <template>
  <v-container>
    <h1>{{ store.name }}</h1>
    <h1>{{ store.counter }}</h1>
    <v-text-field v-model="store.name" variant="solo" />
    <button @click="store.increment()">+</button>
    <v-col cols="12">
      <form @submit="onSubmit">
        <TextField
          v-model="values.email"
          v-model:dialog="dialog"
          name="email"
        />

        <v-btn type="submit">submit</v-btn>
      </form>
      <div>
        {{ $t("welcome", { name: "ahmed ismail" }) }}
        {{ t("welcome") }}
      </div>
    </v-col>
  </v-container>
</template>

<script setup lang="ts">
import { useAppStore } from "@/store/app";
import { Form, useForm } from "vee-validate";
import { ref } from "vue";
import { object, string } from "yup";
import { toTypedSchema } from "@vee-validate/yup";
import { useI18n } from "vue-i18n";
import { inject } from "vue";
import { AxiosResponse } from "axios";
import { HttpMethods } from "@/api/types";
const { t } = useI18n();
const $http = inject("$http") as HttpMethods;
$http.get({ url: "todos" }).then((res: AxiosResponse) => {
  const { data } = res;
  console.log(data);
});
const { handleSubmit, values } = useForm({
  validationSchema: toTypedSchema(
    object({
      email: string().email("invalid email").required("this field is required"),
    })
  ),

  initialValues: {
    email: "",
  },
});
const onSubmit = handleSubmit((values) => {
  console.log(values);
});
const dialog = ref(true);
const store = useAppStore();
const onClick = () => {
  alert("clicked");
};
</script> -->
