<template>
  <div style="min-height: 100vh;">
    <page-title>
      <div>
        <h1 class="text-center" style="font-size: 40px">
          {{ $t("common_questions") }}
        </h1>
      </div>
    </page-title>
    <v-container>
      <v-row class="common-questions">
        <v-col lg="8" cols="12" class="align-self-center">
          <v-expansion-panels>
            <skeleton-loader v-if="loading" type="paragraph" />
            <template v-else>
              <v-expansion-panel class="shadow" flat v-for="(faq, index) in faqs" :key="index"
                collapse-icon="mdi mdi-minus" expand-icon="mdi mdi-plus" :title="faq.question"
                :text="faq.answer"></v-expansion-panel>
            </template>

          </v-expansion-panels>
        </v-col>
        <v-col lg="4">
          <v-img src="@/assets/images/man_2.svg" height="370px"> </v-img>
        </v-col>
      </v-row>
    </v-container>
  </div>
</template>

<script lang="ts" setup>
import { $http } from "@/api";
import { onMounted } from "vue";
import { defineComponent } from "vue";
import { IFaq } from "./model";
import { ref } from "vue";
defineComponent({
  name: "CommonQuestions",
});
const faqs = ref<IFaq[]>();
const loading = ref<boolean>(true)
const fetchCommonQuestions = async () => {
  const res = await $http.get<{ data: { data: IFaq[] } }>({ url: "faqs" });
  const { data } = res.data;
  faqs.value = data;
  loading.value = false
};
onMounted(() => {
  fetchCommonQuestions();
});
</script>

<style lang="scss" scoped></style>
