<template>
  <main class="mt-10" style="min-height: 100vh;">
    <page-title>
      <div>
        <h1 class="text-center" style="font-size: 40px">
          {{ $t("Exhibitor_and_product_data") }}
        </h1>
        <breadcrumbs :items="items"></breadcrumbs>
      </div>
    </page-title>
    <v-container class="mt-3">
      <v-row style="margin-top: 100px">
        <v-col cols="12" sm="6" lg="9">
          <skeleton-loader :loading="loading">
            <ExhibitionsOwnerCard :presenter="presenterData?.presenter" />
          </skeleton-loader>
        </v-col>
        <v-col cols="12" sm="6" lg="3">
          <skeleton-loader :loading="loading">
            <SocialCard :social="social" />
          </skeleton-loader>
        </v-col>
      </v-row>
      <v-row class="mt-16">
        <v-col cols="12">
          <section-title>
            <h2 class="size-32">
              {{ $t("products") }}
            </h2>
          </section-title>
        </v-col>

        <v-col cols="12">
          <skeleton-loader :loading="loading">
            <OfferSlider :sliders="presenterData?.sliders" />
          </skeleton-loader>
        </v-col>
      </v-row>
      <v-row class="mt-16">
        <v-col cols="12" sm="6" md="6" lg="4"
          v-for="(product, index) in ((loading ? 8 : presenterData?.products) as any)">
          <skeleton-loader :loading="loading">
            <ProductCard :key="index" :product="product" />
          </skeleton-loader>
        </v-col>
      </v-row>
    </v-container>
  </main>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { defineAsyncComponent, defineComponent } from "vue";
import { useI18n } from "vue-i18n";
import { useRoute } from "vue-router";

import { $http } from "@/api";
import { onMounted } from "vue";

const ExhibitionsOwnerCard = defineAsyncComponent(
  () => import("@/components/Cards/ExhibitionsOwnerCard.vue")
);
const SocialCard = defineAsyncComponent(
  () => import("@/components/Cards/SocialCard.vue")
);
const OfferSlider = defineAsyncComponent(
  () => import("@/components/OfferSlider/index.vue")
);
const ProductCard = defineAsyncComponent(
  () => import("@/components/Cards/ProductCard.vue")
);
import { PresenterDetails, Social } from "./model";
import { computed } from "vue";

defineComponent({
  name: "PresenterDetails",
});

const presenterData = ref<PresenterDetails>();
const loading = ref<boolean>(true);

const { t } = useI18n();
const route = useRoute();

const items = [
  {
    title: t("home"),
    disabled: false,
    to: "/",
    exact: true,
  },
  {
    title: t("viwer"),
    disabled: false,
    to: `/presenters/${route.params.store_id}`,
    exact: true,
  },
  {
    title: t("Exhibitor_and_product_data"),
    disabled: true,
    to: route.fullPath,
    exact: true,
  },
];

const social = computed<Social | any>(() => {
  return {
    email: presenterData.value?.presenter?.email,
    facebook: presenterData.value?.presenter?.facebook,
    instagram: presenterData.value?.presenter?.instagram,
    phone: presenterData.value?.presenter?.phone,
    twitter: presenterData.value?.presenter?.twitter,
    whatsAPP: presenterData.value?.presenter?.whatsAPP,
  };
});

const fetchPresenter = async () => {
  const res = await $http.get<{
    data: {
      data: PresenterDetails;
    };
  }>({
    url: `/presenters/${route.params.store_id}/${route.params.presenter_id}`,
  });
  const { data } = res.data;
  presenterData.value = data;
  loading.value = false;
};

onMounted(() => {
  fetchPresenter();
});
</script>

<style lang="scss">
.v-slide-group {
  .v-btn {
    border: 4px solid getColor(light-gray-3) !important;
  }
}

.v-slide-group__prev--disabled,
.v-slide-group__next--disabled {
  visibility: hidden !important;
}
</style>
