<template>
  <section class="hero-section">
    <div class="d-flex justify-space-between align-center slide-button-group">
      <div class="slide-button slide-button__prev" @click="onClick('prev')">
        <v-btn icon variant="elevated" color="primary">
          <v-icon>mdi-chevron-right</v-icon>
        </v-btn>
      </div>
      <div class="slide-button slide-button__next" @click="onClick('next')">
        <v-btn icon variant="elevated" color="primary">
          <v-icon>mdi-chevron-left</v-icon>
        </v-btn>
      </div>
    </div>

    <v-carousel v-model="currentSlide" height="497px" hide-delimiter-background :show-arrows="false">
      <v-carousel-item v-for="(sliderItem, i) in ((store.loadingData ? 1 : store.getHomeSliders) as any)" :key="i"
        :src="sliderItem.img" :lazy-src="sliderItem.img" :value="i" height="100%" aspect-ratio="1">
        <skeleton-loader :loading="store.loadingData" height="100%">
        </skeleton-loader>
      </v-carousel-item>
    </v-carousel>
  </section>
</template>
<script setup lang="ts">
import { useAppStore } from "@/store/app";
import { ref } from "vue";
import { defineComponent } from "vue";

defineComponent({
  name: "HeroSection",
});

const currentSlide = ref<number>(0);
const store = useAppStore();

const onClick = (dir: "prev" | "next") => {
  if (dir == "next") {
    currentSlide.value++;
    if (currentSlide.value == store.getHomeSliders?.length) {
      currentSlide.value = 0;
    }
  } else {
    if (currentSlide.value == 0) {
      currentSlide.value = store.getHomeSliders?.length;
    }
    currentSlide.value--;
  }
};
</script>
