<template>
  <v-list class="mt-10">
    <v-list-item class="text-center mb-2">
      <router-link to="/">
        <v-img height="80" aspect-ratio="1" src="@/assets/images/logo.svg" />
      </router-link>
    </v-list-item>
    <v-list-item v-for="(item, i) in sidebarItems" :key="i" :value="item" active-color="primary"
      :active="$route.fullPath === item.to" :to="item.to" class="justify-center">
      <template v-slot:append>
        <v-icon class="ma-0" :icon="item.icon"></v-icon>
      </template>

      <v-list-item-title>{{ item.text }}</v-list-item-title>
    </v-list-item>
  </v-list>
</template>

<script setup lang="ts">
import { useNavbar, NavBar } from "@/composables/useNavbar";

const sidebarItems: NavBar[] = useNavbar();
</script>
