<template>
  <section class="mt-10" style="min-height: 100vh;">
    <page-title>
      <div>
        <h1 class="text-center size-40">
          {{ item?.title }}
        </h1>

      </div>
    </page-title>

    <v-container class="mt-4">
      <p>
        {{ item?.content }}
      </p>
    </v-container>

  </section>
</template>

<script setup lang="ts">
import { $http } from '@/api';
import { ref } from 'vue';
interface StaticPage {
  title: string;
  content: string
}
const props = defineProps<{ id: number }>()
const item = ref<StaticPage>()
const fetchData = async () => {
  const res: { data: { data: StaticPage } } = await $http.get({ url: `/staticPages/${props.id}` })
  const { data } = res.data
  item.value = data
}

fetchData()

</script>

