@for $i from 0 through 50 {
  .gap-#{$i} {
    gap: #{$i}px !important;
  }
  .size-#{$i} {
    font-size: #{$i}px !important;
  }
  .line-height-#{$i} {
    line-height: #{$i}px !important;
  }
  .height-#{$i} {
    height: #{$i}px !important;
  }
  .radius-#{$i} {
    border-radius: #{$i}px !important;
  }
}

.h-100 {
  @include desktop() {
    min-height: 100vh !important;
  }
}

.hidden-md-and-down {
  @include tablet {
    display: none;
  }
}

.v-container {
  margin-inline: auto !important;
}

.shadow {
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.2) !important;
}
.shadow-2 {
  box-shadow: 0px 0px 40px 9px rgba(54, 82, 52, 0.11);
}
