.custom-input {
  .v-field {
    overflow: hidden;
    border-radius: 10px !important;
  }
  .custom-input .v-input {
    flex: 0 1 auto !important;
  }
  .v-input__control {
    position: relative;
  }
  .v-field__append-inner {
    position: absolute;
    background-color: getColor(success);
    cursor: pointer;
    padding: 5px;
    display: flex;
    align-items: center;
    left: -12px;
    bottom: 0;
    height: 100%;
    width: 40px;
    justify-content: center;
  }
}
.custom-switch.v-input {
  flex: 0 1 auto !important;
}
// .v-input__control {
//   color: #fff;
// }
:lang(en) {
  .custom-input {
    .v-field__append-inner {
      left: initial;
      right: -12px;
    }
  }
}

.v-selection-control-group {
  gap: 20px !important;
}
