@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin laptop {
  @media screen and (max-width: 1024px) {
    @content;
  }
}
@mixin laptop-lg {
  @media screen and (max-width: 1440px) {
    @content;
  }
}
@mixin tablet {
  @media screen and (max-width: 1280px) {
    @content;
  }
}

@mixin desktop {
  @media screen and (min-width: 1264px) {
    @content;
  }
}

@function getColor($color) {
  @return map-get($map: $colors, $key: $color);
}

@function getThemeColor($color, $theme: "light") {
  @if $theme == "dark" {
    @return map-get($map: $darkColors, $key: $color);
  } @else {
    @return map-get($map: $colors, $key: $color);
  }
}

// START:: FLEX MIXINS
@mixin flexCenterAlignment {
  display: flex !important;
  align-items: center;
  justify-content: center;
  @content;
}

@mixin flexStartAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  @content;
}

@mixin verticalFlexStartAlignment {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @content;
}

@mixin flexSpaceBetweenAlignment {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @content;
}

@mixin flexSpaceAroundAlignment {
  display: flex;
  align-items: center;
  justify-content: space-around;
  @content;
}

@mixin flexEndAlignment {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  @content;
}
