<template>
  <v-text-field
    bg-color="light-gray"
    flat
    v-bind="$attrs"
    variant="solo-filled"
    color="success"
    hide-details
    rounded
    append-inner-icon="mdi-magnify"
    @input="handleFilter"
    v-model="store.query[filterName]"
  >
    <template #append-inner>
      <slot name="append-inner" />
    </template>
    <template #prepend-inner>
      <slot name="prepend-inner" />
    </template>
  </v-text-field>
</template>

<script setup lang="ts">
import { useFilter, Props } from "@/composables/useFilter";
import { useQueryStore } from "@/store/query";

const { filterName } = defineProps<Props>();

const store = useQueryStore();
const { handleFilter } = useFilter({ filterName });
</script>
