<template>
  <v-select
    v-bind="$attrs"
    variant="plain"
    density="compact"
    color="success"
    hide-details
    @input="handleFilter"
    @change="$emit('onChange')"
    v-model="store.query[filterName]"
  >
    <template #append-inner>
      <slot name="append-inner" />
    </template>
    <template #prepend-inner>
      <slot name="prepend-inner" />
    </template>
  </v-select>
</template>

<script setup lang="ts">
import { useFilter, Props } from "@/composables/useFilter";
import { useQueryStore } from "@/store/query";

const { filterName } = defineProps<Props>();

const store = useQueryStore();
const { handleFilter } = useFilter({ filterName });
</script>
