<template>
  <v-breadcrumbs active-color="primary" class="justify-center text-gray" :items="items" divider="/"></v-breadcrumbs>
</template>

<script setup lang="ts">
import { Props } from "./model";
const { items } = withDefaults(defineProps<Props>(), {});
</script>

<style scoped></style>
