<template>
  <v-app>
    <Notification />
    <TopBar />
    <AppBar>
      <v-main style="min-height: 100vh;">
        <transition name="scroll-x-transition" mode="out-in">
          <router-view :key="$route.fullPath" />
        </transition>
        <MainFooter />
      </v-main>
    </AppBar>
  </v-app>
</template>

<script lang="ts" setup>
import { Suspense } from "vue";
import { defineAsyncComponent } from "vue";
const AppBar = defineAsyncComponent(
  () => import("@/components/AppBar/index.vue")
);
const TopBar = defineAsyncComponent(
  () => import("@/components/TopBar/index.vue")
);
const MainFooter = defineAsyncComponent(
  () => import("@/components/MainFooter/index.vue")
);
</script>
