<template>
  <GoogleMap
    style="width: 100%; height: 500px"
    :center="center"
    :zoom="15"
    :fullscreenControl="false"
    :draggable="false"
    :zoomControl="false"
  >
    <Marker :options="{ position: center }" />
  </GoogleMap>
</template>

<script lang="ts">
import { defineComponent } from "vue";
import { GoogleMap, Marker } from "vue3-google-map";

export default defineComponent({
  components: { GoogleMap, Marker },
  props: {
    center: {
      type: Object,
      required: true,
    },
  },
});
</script>
