<template>
  <v-btn size="small" @click="dialog = true" variant="flat" icon title="delete">
    <v-icon color="error">mdi-delete</v-icon>
  </v-btn>
  <v-dialog v-model="dialog" width="500" absolute persistent>
    <v-card class="text-center">
      <v-card-text>
        {{ $t("delete_messafge_confirm") }}
      </v-card-text>
      <v-card-actions class="d-flex justify-center">
        <v-btn :loading="loading" @click="onDelete" color="primary">
          {{ $t("yes") }}</v-btn>
        <v-btn color="error" @click="dialog = false">
          {{ $t("cancel") }}
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</template>

<script setup lang="ts">
import { useTableStore } from "@/store/table";
import { ref } from "vue";

const dialog = ref<boolean>(false);
const loading = ref<boolean>(false);
const props = defineProps<{ url: string; param: number | string }>();

const onDelete = async () => {
  loading.value = true;
  dialog.value = false;
  loading.value = false;
};
</script>
