<template>
  <section class="client-reviewers">
    <section-title class="mt-12 mb-6">
      {{ $t("client_reviewers") }}
    </section-title>
    <h2 class="size-30 font-weight-medium text-secondary">
      {{ $t("wt_custom_say_about_us") }}
    </h2>
    <div class="navigation mt-5">
      <v-btn color="primary" variant="outlined" icon="mdi-arrow-right" class="mx-2" @click="prev" max-width="40"
        max-height="40"></v-btn>
      <v-btn color="primary" variant="outlined" icon="mdi-arrow-left" class="mx-2" @click="next" max-width="40"
        max-height="40"></v-btn>
    </div>

    <Carousel ref="reviews" :dir="$i18n.locale == 'ar' ? 'rtl' : 'ltr'" :items-to-show="1" :wrap-around="true"
      snapAlign="start" :breakpoints="breakpoints">
      <Slide v-for="(slide, index) in appStore.getHomeReviews" :key="index" style="position: relative">
        <div class="client-reviewers__carousel-item">
          <div>
            <v-list class="bg-transparent d-flex ">
              <div class="client-reviewers__carousel-item__avatar">
                <img :src="slide.img" />
              </div>
              <v-list-item class="client-reviewers__carousel-item__heading">
                <v-list-item-title class="text-primary size-25 font-weight-medium">
                  {{ slide.name }}
                </v-list-item-title>

                <v-list-item-subtitle style="opacity: 1"
                  class="line-height-24 text-light-gray-5 size-18 font-weight-medium mt-2">
                  {{ slide.job_name }}
                </v-list-item-subtitle>
              </v-list-item>
            </v-list>
          </div>
          <p class="client-reviewers__description">
            {{ slide.message }}
          </p>
        </div>
      </Slide>
      <template #addons>
        <Pagination />
      </template>
    </Carousel>
  </section>
</template>

<script setup lang="ts">
import { ref } from "vue";
import { defineComponent } from "vue";
import { Carousel, Navigation, Slide, Pagination } from "vue3-carousel";
import { useAppStore } from "@/store/app";
defineComponent({
  name: "WrapAround",
  components: {
    Carousel,
    Slide,
    Navigation,
    Pagination,
  },
});

const appStore = useAppStore();

const reviews = ref<any>(null);

const next = () => {
  reviews.value?.next();
};
const prev = () => {
  reviews.value?.prev();
};
const breakpoints = {
  // 700px and up
  700: {
    itemsToShow: 1,
    snapAlign: "center",
  },
  // 1024 and up
  1024: {
    itemsToShow: 2,
    snapAlign: "start",
  },
};
</script>
